<% content_for :title, "#{@heading} - Trade Tariff - GOV.UK" %>
<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= heading_url(@heading, format: :json) %>' title='Heading information page in JSON format' />
<% end %>

  <h2 class="heading-medium">Choose the commodity code that best matches your goods</h2>
  <p>If your item is not listed by name, it may be shown under what it's used for, what it's made from or 'other.'</p>

<% if @heading.declarable? %>
  <%= render 'declarables/declarable', declarable: @heading %>
<% else %>
  <%= render 'shared/tariff_breadcrumbs', heading: @heading %>

  <article class="tariff">
    <div class="tree-key">
      <div class="chapter-code">
        <div class="code-text"><%= @heading.chapter_short_code %></div>
      </div>
      <div class="heading-code">
        <div class="code-text"><%= @heading.heading_display_short_code %></div>
      </div>
      <div class="key-text">Heading code</div>
    </div>
    <div class="commodity-tree">
      <p class="commodity-tree-note"><span>The number following each commodity's </span><em class="description">Description</em><span> is its </span><em class="commcode">Commodity code</em></p>
      <ul class="commodities">
        <%= render @commodities.root_commodities %>
      </ul>
    </div>
  </article>
<% end %>
