<article class="tariff">
  <div class="inner">
    <dl>
      <dt><%= @heading.section.numeral %></dt>
      <dd><%= @heading.section.title %>
        <dl class="tariff-fragments">
          <dt><%= @heading.chapter.short_code %></dt>
          <dd><%= @heading.chapter.description.downcase.titleize %>
            <dl>
              <dt><%= @heading.declarative? ? @heading.commodity_code : @heading.display_short_code %></dt>
              <dd><h1><%= @heading.description %></h1>
                <ol class="commodities">
                  <%= render @commodities %>
                </ol>
              </dd>
            </dl>
          </dd>
        </dl>
      </dd>
    </dl>
  </div>
</article>
