<% content_for :title, "#{@heading.description} | Trade Tariff | GOV.UK" %>

<article class="tariff">
  <div class="inner">
    <dl>
      <dt><%= @heading.section.numeral %></dt>
      <dd class="section-heading"><a href="<%= section_path(@heading.section) %>"><%= @heading.section.title %></a>
        <dl class="tariff-fragments">
          <dt><%= @heading.chapter.short_code %></dt>
          <dd><%= link_to @heading.chapter.description.downcase.titleize, chapter_path(@heading.chapter) %>
            <dl>
              <dt><%= @heading.display_short_code %></dt>
              <dd><h1><%= @heading.description %></h1>
                <ul class="commodities">
                  <%= render @commodities %>
                </ul>
              </dd>
            </dl>
          </dd>
        </dl>
      </dd>
    </dl>
  </div>
</article>
