<% content_for :title, "#{@heading} - Trade Tariff - GOV.UK" %>
<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= heading_url(@heading, format: :json) %>' title='Heading information page in JSON format' />
<% end %>

<% if @heading.declarable? %>
  <%= render 'declarables/declarable', declarable: @heading %>
<% else %>
  <article class="tariff">
    <div class="inner">
      <dl>
        <dt class="section-number">Section <%= @heading.section.numeral %></dt>
        <dd class="section-title"><%= link_to @heading.section.title, section_path(@heading.section) %>
          <dl class="tariff-fragments">
            <dt class="chapter-code" title="Chapter code"><%= @heading.chapter_short_code %></dt>
            <dd><%= link_to @heading.chapter, chapter_path(@heading.chapter) %>
              <dl>
                <dt class="heading-code" title="Heading code"><%= @heading.display_short_code %></dt>
                <dd>
                  <h1>
                    <%= @heading.formatted_description.html_safe %>
                    (<%= link_to 'changes', heading_changes_path(@heading.declarable, format: :atom), class: "feed", rel: "nofollow" %>)
                  </h1>
                <p class="commodity-tree-note"><span>The number following each commodity's </span><em>Description</em><span> is its </span><em class="code">Commodity code</em></p>
                  <ul class="commodities">
                    <%= render @commodities.root_commodities %>
                  </ul>
                </dd>
              </dl>
            </dd>
          </dl>
        </dd>
      </dl>
    </div>
  </article>
<% end %>
