<% content_for :title, "#{@heading} | Trade Tariff | GOV.UK" %>

<% if @heading.declarable? %>
  <%= render 'declarables/declarable', declarable: @heading,
                                       with_commodity_tree: false %>
<% else %>
  <article class="tariff">
    <div class="inner">
      <dl>
        <dt class="section-heading">Section <%= @heading.section.numeral %></dt>
        <dd class="section-heading"><a href="<%= section_path(@heading.section) %>"><%= @heading.section.title %></a>
          <dl class="tariff-fragments">
            <dt><%= @heading.chapter.short_code %></dt>
            <dd><%= link_to @heading.chapter, chapter_path(@heading.chapter) %>
              <dl>
                <dt><%= @heading.display_short_code %></dt>
                <dd><h1><%= @heading %></h1>
                  <ul class="commodities">
                    <%= render @commodities %>
                  </ul>
                </dd>
              </dl>
            </dd>
          </dl>
        </dd>
      </dl>
    </div>
  </article>
<% end %>
