<div class='additional-codes' id='<%= additional_code.id %>' data-popup='<%= additional_code.id %>'>
  <article>
    <table class="small-table">
      <caption>
        <h2 class="heading-medium">Additional code</h2>
        <p>Measure: <%= additional_code.casted_by.measure_type.description %></p>
      </caption>
      <thead>
        <tr>
          <th>Code</th>
          <th>Description code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= additional_code.code %></td>
          <td><%= raw additional_code.formatted_description %></td>
        </tr>
      </tbody>
    </table>
    <!-- <p><a href="#" class="help-link">What does this mean?</a></p> -->
  </article>
</div>
