<article class="tariff chapters">
  <div class="inner">
    <% if @results.present? && @results.entries.any? %>
      <table>
        <thead>
          <tr>
            <th class="p20"></th>
            <th class="p80">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @results.entries.each do |result| %>
            <tr>
              <td>
                <%= link_to "Section: #{result.section.numeral}", section_path(result.section) %>
              </td>
              <td>
                <%= result.section.title %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "Chapter: #{result.chapter.short_code}", chapter_path(result.chapter) %>
              </td>
              <td>
                <%= result.chapter.description %>
              </td>
            </tr>
            <% if result.is_a?(Commodity) %>
              <tr>
                <td>
                  <%= link_to "Heading: #{result.heading.short_code}", heading_path(result.heading) %>
                </td>
                <td>
                  <%= result.heading.description %>
                </td>
              <tr>
                <td>
                  <%= link_to "Result: #{result.short_code}", commodity_path(result) %>
                </td>
                <td>
                  <% if result.parents && result.parents.any? %>
                    <%= result.parents.join(" - ") %>:
                  <% end %>

                  <strong><%= result.description %></strong>
                  <% if result.synonyms.present? %>
                    <br/>
                    <%== render_synonyms(result.synonyms) %>
                  <% end %>
                </td>
              </tr>
            <% elsif result.is_a?(Heading) %>
              <tr>
                <td>
                  <%= link_to "Result: #{result.short_code}", heading_path(result) %>
                </td>
                <td>
                  <%= result.description %>

                  <% if result.synonyms.present? %>
                    <br/>
                    <%== render_synonyms(result.synonyms) %>
                  <% end %>
                </td>
            <% end %>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @results, remote: true %>
    <% else %>
      <p>Sorry no results found for that search term, please try again or browse the <%= link_to "tariffs by section", root_url %>.</p>
    <% end %>
  </div>
</article>

<!--

<h1 class="search-heading">Search results for '<mark>horse</mark>'</h1>
<article class="search-results">
  <p>Microcopy how to use/warning here.</p>
  <h2>Sections that contain "<mark>horse</mark>":</h2>
  <dl class="results-subset">
    <dt>01</dt>
    <dd><a href="#">Live animals</a></dd>
    <dt>02</dt>
    <dd><a href="#">Meat and edible meat offal</a></dd>
  </dl>
  <h2>Headings that contain '<mark>horse</mark>'</h2>
  <dl class="results-subset">
    <dt>01</dt>
    <dd><a href="#">Live animals</a>
      <dl>
        <dt>01</dt><dd><a href="#">Live horses, asses, mules and hinnies</a></dd>
      </dl>
    </dd>
    <dt>02</dt>
    <dd>
      <a href="#">Meat and edible meat offal</a>
      <dl>
        <dt>05</dt><dd><a href="#">Meat of horses, asses, mules or hinnies, fresh, chilled or frozen</a></dd>
        <dt>06</dt><dd><a href="#">Edible offal of bovine animals, swine, sheep, goats, horses, asses, mules or hinnies, fresh, chilled or frozen</a></dd>
        <dt>10</dt><dd><a href="#">Meat and edible meat offal, salted, in brine, dried or smoked; edible flours and meals of meat or meat offal</a></dd>
      </dl>
    </dd>
    <dt>03</dt>
    <dd>
      <a href="#">Fish and crustaceans, mdlluscs and other aquatic invertebrates</a>
      <dl>
        <dt>02</dt><dd><a href="#">Fish, fresh or chilled, excluding fish fillets and other fish meat of heading 0304</a></dd>
        <dt>03</dt><dd><a href="#">Fish, frozen, excluding fish fillets and other fish meat of heading 0304</a></dd>
      </dl>
    </dd>            
    <dt>07</dt>
    <dd>
      <a href="#">Edible vegetables and certain roots and tubers</a>
       <dl>
         <dt>13</dt><dd><a href="#">Dried leguminous vegetables, shelled, whether or not skinned or split</a></dd>
       </dl>
    </dd>
    <dt>23</dt>
    <dd>
      <a href="#">Residues and waste from the food industries; prepared animal fodder</a>
       <dl>
         <dt>08</dt><dd><a href="#">Vegetable materials and vegetable waste, vegetable residues and by-products, whether or not in the form of pellets, of a kind used in animal feeding, not elsewhere specified or included</a></dd> 
       </dl>
    </dd>
    <dt>44</dt>
    <dd>
      <a href="#">Wood and articles of wood; wood charcoal</a>
       <dl>
         <dt>12</dt><dd><a href="#">Plywood, veneered panels and similar laminated wood</a></dd>
       </dl>
    </dd>
  </dl>
  <h2>Other terms containing '<mark>horse</mark>':</h2>
  <ul class="results-subset">
    <li><a href="#">Horse chestnuts</a></li>
    <li><a href="#">Horse beans</a></li>
    <li><a href="#">Horse-radish</a></li>
    <li><a href="#">Horsehair</a></li>
    <li><a href="#">Horsehair, woven fabric</a></li>
    <li><a href="#">Horse mackerel</a></li>
    <li><a href="#">Horsemeat - Fresh, chilled, frozen, Salted, in brine, dried or smoked</a></li>
  </ul>
  <h2>Guides to classification that may be useful:</h2>
  <ul class="results-subset">
    <li><a href="#">Classifying saddlery and other equipment for animals</a></li>
    <li><a href="#">Classifying leguminous vegetables</a></li>
  </ul>
</article>

-->