<article class="tariff chapters">
  <div class="inner">
    <% if @results.entries.any? %>
      <table>
        <thead>
          <tr>
            <th class="p20"></th>
            <th class="p80">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @results.entries.each do |result| %>
            <tr>
              <td>
                <%= link_to "Section: #{result.section.numeral}", section_path(result.section) %>
              </td>
              <td>
                <%= result.section.title %>
              </td>
            </tr>
            <tr>
              <td>
                <%= link_to "Chapter: #{result.chapter.short_code}", chapter_path(result.chapter) %>
              </td>
              <td>
                <%= result.chapter.description %>
              </td>
            </tr>
            <% if result.is_a?(Commodity) %>
              <tr>
                <td>
                  <%= link_to "Heading: #{result.heading.short_code}", heading_path(result.heading) %>
                </td>
                <td>
                  <%= result.heading.description %>
                </td>
              <tr>
                <td>
                  <%= link_to "Result: #{result.short_code}", commodity_path(result) %>
                </td>
                <td>
                  <% if result.parents && result.parents.any? %>
                    <%= result.parents.join(" - ") %>:
                  <% end %>
                  <strong><%= result.description %></strong>
                </td>
              </tr>
            <% elsif result.is_a?(Heading) %>
              <tr>
                <td>
                  <%= link_to "Result: #{result.short_code}", heading_path(result) %>
                </td>
                <td>
                  <%= result.description %>
                </td>
            <% end %>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @results, remote: true %>
    <% else %>
      <p>Sorry no results found for that search term, please try again or browse the <%= link_to "tariffs by section", root_url %>.</p>
    <% end %>
  </div>
</article>
