<div class='browse-sections core-content group'>
  <h1>Search results</h1>

  <table>
    <thead>
      <tr>
        <td>Section</td>
        <td>Chapter</td>
        <td>Heading</td>
        <td>Commodity</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <% @results.entries.each do |commodity| %>
        <tr>
          <td>
            <%= link_to commodity.section.numeral, section_path(commodity.section.to_param) %>
          </td>
          <td>
            <%= link_to commodity.chapter.code.first(2), chapter_path(commodity.chapter.to_param) %>
          </td>
          <td>
            <%= link_to commodity.heading.code.first(4), heading_path(commodity.heading.to_param) %>
          </td>
          <td>
            <%= link_to commodity.code, commodity_path(commodity.to_param) %>
          </td>
          <td>
              <%= commodity.description %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @results %>
</div>
