<h2 class="heading-medium">Search results for '<%= @search.t %>'</h2>
<article class="search-results">
  <% if @results.any? %>

    <% debug @results%>


    <% if @results.reference_match.commodities.any? %>
      <h3 class="heading-small">Commodity code results for '<%= @search %>'</h3>
      <%= render partial: 'search/commodity', collection: @results.reference_match.commodities %>
    <% end %>

    <% console %>

    <% if @results.reference_matches_by_chapter.any? %>
      <h3 class="heading-small"><%= @results.all_reference_matches.count %> Results matching '<%= @search %>'</h3>
      <table class="tariff-table">
        <% @results.reference_matches_by_chapter.each do |result| %>
          <%= render partial: 'search/result', locals: { result: result } %>
        <% end %>
      </table>
    <% end %>



  <% else %>
    <p>There are no results matching your query.</p>
    <div class="panel panel-border-wide">
      <p><strong>Please search again and consider:</strong></p>
      <ul class="list list-bullet">
        <li>Searching what the item is used for or made from</li>
        <li>Broadening your search criteria</li>
        <li>Checking your spelling</li>
        <li>Browsing the <%= link_to 'A-Z index', a_z_index_path(letter: 'a') %></li>
      </ul>
    </div>
  <% end %>
</article>
