<h1 class="search-heading">Search results for '<mark><%= @search.q %></mark>'</h1>
<article class="search-results">
  <% if @results.any? %>
    <% if @results.sections.any? %>
      <h2><%= result_title(Section, @results, @search.q) %></h2>
      <dl class="results-subset sections">
        <% @results.sections.each do |section| %>
        <dt>Section <%= section.numeral %></dt>
        <dd>
          <%= link_to section, section_path(section)%>
        </dd>
        <% end %>
      </dl>
    <% end %>
    <% if @results.chapters.any? %>
      <h2><%= result_title(Chapter, @results, @search.q) %></h2>
      <dl class="results-subset">
        <% @results.chapters.each do |chapter| %>
          <dt class="chapter-code" title="Chapter code"><%= chapter.short_code %></dt>
          <dd>
            <%= link_to chapter, chapter_path(chapter) %>
          </dd>
        <% end %>
      </dl>
    <% end %>
    <% if @results.headings.any? %>
      <h2><%= result_title(Heading, @results, @search.q) %></h2>
      <dl class="results-subset">
        <% @results.headings.group_by(&:chapter_code).each do |chapter, headings| %>
        <dt class="chapter-code" ttile="Chapter code"><%= headings.first.chapter.short_code %></dt>
        <dd>
          <%= link_to headings.first.chapter, chapter_path(headings.first.chapter) %>
          <dl>
            <% headings.each do |heading| %>
              <dt class="heading-code" title="Heading code"><%= heading.display_short_code %></dt>
              <dd>
                <%= link_to heading, heading_path(heading) %>
              </dd>
            <% end %>
          </dl>
        </dd>
        <% end %>
      </dl>
    <% end %>
  <% else %>
    <p>There are no results matching your query.</p>
  <% end %>
</article>
