<h2 class="heading-medium">Search results for '<%= @search.t %>'</h2>
<article class="search-results">
  <% if @results.any? %>
    <% if @results.reference_match.commodities.any? %>
      <h3 class="heading-small">Most popular commodities for <%= @search %>:</h3>
      <table class="results-subset result-commodities">
        <% @results.reference_match.commodities.group_by(&:chapter_code).each do |chapter_code, chapter_commodities| %>
          <td class="chapter-code" title="Chapter code"><%= chapter_code %></td>
          <td>
            <%= link_to chapter_commodities.first.chapter.to_s.html_safe, chapter_path(chapter_commodities.first.chapter) %>

            <table class="headings">
              <% chapter_commodities.group_by(&:heading_code).each do |heading_code, heading_commodities| %>
                <td class="heading-code" title="Heading code"><%= heading_code %></td>

                <td>
                  <%= link_to heading_commodities.first.heading, heading_path(heading_commodities.first.heading) %>

                  <table class="commodities">
                    <%= render partial: 'search/commodity', collection: heading_commodities.uniq.sort_by(&:code) %>
                  </table>
                </td>
              <% end %>
            </table>
          </td>
        <% end %>
      </table>
    <% end %>


    <% if @results.reference_match.chapters.any? %>
      <h3 class="heading-small">Results matching '<%= @search %>'</h3>
      <table class="results-subset">
        <%= render partial: 'search/chapter', collection: @results.reference_match.chapters %>
      </table>
    <% end %>

    <% if @results.reference_match.headings.any? %>
      <h3 class="heading-small">Headings tagged <%= @search %>:</h3>
      <table class="results-subset headings">
        <% @results.reference_match.headings.group_by(&:chapter_code).each do |chapter, headings| %>
          <tr class="chapter">
            <td>
              <div class="chapter-code" title="Chapter code">
                <div class="code-text"><%= headings.first.chapter.short_code %></div>
              </div>
            </td>
            <td>&nbsp;</td>
            <td><%= link_to headings.first.chapter, chapter_path(headings.first.chapter) %></td>
          </tr>
          <%= render partial: 'search/heading', collection: headings.uniq.sort_by(&:short_code) %>
        <% end %>
      </table>
    <% end %>

    <% if @results.goods_nomenclature_match.chapters.any? %>
      <h3 class="heading-small">Chapters text-matching <%= @search %>:</h3>
      <table class="results-subset">
        <%= render partial: 'search/chapter', collection: @results.goods_nomenclature_match.chapters %>
      </table>
    <% end %>

    <% if @results.goods_nomenclature_match.resulting_headings.any? %>
      <h3 class="heading-small">Headings text-matching <%= @search %>:</h3>
      <table class="results-subset">
        <% @results.goods_nomenclature_match.resulting_headings.group_by(&:chapter_code).each do |chapter, headings| %>
          <tr class="chapter">
            <td>
              <div class="chapter-code" title="Chapter code">
                <div class="code-text"><%= headings.first.chapter.short_code %></div>
              </div>
            </td>
            <td>&nbsp;</td>
            <td><%= link_to headings.first.chapter, chapter_path(headings.first.chapter) %></td>
          </tr>
          <%= render partial: 'search/heading', collection: headings, locals: { search_query: @search.t } %>
        <% end %>
      </table>
    <% end %>

    <% if @results.reference_match.sections.any? %>
      <h3 class="heading-small">Sections matching '<%= @search %>'</h3>
      <table class="results-subset sections">
        <%= render partial: 'search/section', collection: @results.reference_match.sections %>
      </table>
    <% end %>

    <% if @results.goods_nomenclature_match.sections.any? %>
      <h3 class="heading-small">Sections containing '<%= @search %>'</h3>
      <table class="results-subset sections">
        <%= render partial: 'search/section', collection: @results.goods_nomenclature_match.sections %>
      </table>
    <% end %>
  <% else %>
    <p>There are no results matching your query.</p>
    <div class="panel panel-border-wide">
      <p><strong>Please search again and consider:</strong></p>
      <ul class="list list-bullet">
        <li>Searching what the item is used for or made from</li>
        <li>Broadening your search criteria</li>
        <li>Checking your spelling</li>
        <li>Browsing the <%= link_to 'A-Z index', a_z_index_path(letter: 'a') %></li>
      </ul>
    </div>
  <% end %>
</article>
