<h1 class="heading-medium">Search results for &lsquo;<%= @search.t %>&rsquo;</h1>
<article class="search-results">
  <% if @results.any? %>
    <% if @results.reference_match.commodities.any? %>
      <h2 class="heading-small">Commodities matching &lsquo;<%= @search %>&rsquo;</h2>
      <ul class="results-subset js-results-subset">
        <%= render partial: 'search/commodity', collection: @results.reference_match.commodities %>
      </ul>
    <% end %>

    <% if @results.reference_matches_by_chapter.any? %>
      <h2 class="heading-small">Results matching &lsquo;<%= @search %>&rsquo;</h2>
      <ul class="results-subset js-results-subset">
        <%= render partial: 'search/result', collection: @results.reference_matches_by_chapter %>
      </ul>
    <% end %>

    <% if @results.gn_matches_without_duplicates_by_chapter.any? %>
      <h2 class="heading-small">Other results containing the term &lsquo;<%= @search %>&rsquo;</h2>
      <ul class="results-subset js-results-subset">
        <%= render partial: 'search/result', collection: @results.gn_matches_without_duplicates_by_chapter %>

      </ul>
    <% end %>

    <% if @results.reference_match.sections.any? %>
      <h2 class="heading-small">Sections matching &lsquo;<%= @search %>&rsquo;</h2>
      <ul class="results-subset js-results-subset">
        <%= render partial: 'search/section', collection: @results.reference_match.sections %>
      </ul>
    <% end %>
  <% else %>
    <p>There are no results matching your query.</p>
    <div class="panel panel-border-wide">
      <p><strong>Please search again and consider:</strong></p>
      <ul class="list list-bullet">
        <li>Searching what the item is used for or made from</li>
        <li>Broadening your search criteria</li>
        <li>Checking your spelling</li>
        <li>Browsing the <%= link_to 'A-Z of Classified Goods', a_z_index_path(letter: 'a') %></li>
      </ul>
    </div>
  <% end %>
</article>
