<tr>
  <td><%= measure_condition.condition %></td>
  <td class="numerical"><%= measure_condition.document_code %></td>
  <td>
    <%= measure_condition.requirement %>
  </td>
  <td><%= measure_condition.action %></td>
  <td class="numerical">
    <%= measure_condition.duty_expression %>
  </td>
</tr>
