<tr>
  <td><%= measure_condition.condition %></td>
  <td class="numerical"><%= measure_condition.document_code %></td>
  <td>
    <% if measure_condition.has_document_based_requirement? %>
      <%= measure_condition.requirement %>
    <% elsif measure.has_single_component_based_on_duty_expression? %>
      <%= measure_condition.requirement.duty_expression %>
    <% elsif measure_condition.has_duty_expression_based_requirement? %>
      <% if measure.is_first_measure_condition?(measure_condition) %>
        greater than or equal to <%= measure_condition.requirement.duty_expression %>
      <% elsif measure.is_last_measure_condition?(measure_condition) %>
        less than <%= measure.previous_condition_for(measure_condition).requirement.duty_expression %>
      <% else %>
        greater than or equal to <%= measure_condition.requirement.duty_expression %>
        and less than <%= measure.previous_condition_for(measure_condition).requirement.duty_expression %>
      <% end %>
    <% end %>
  </td>
  <td><%= measure_condition.action %></td>
  <td class="numerical">
    <%= raw measure_condition.duty_expression %>
  </td>
</tr>
