<% if controller_name == 'commodities' && action_name == 'show' || controller_name == 'headings' && action_name == 'show' && @heading.declarable? %>
  <header>
    <a class="back-to-previous" href="<%= @back_path %>">Back <span class="visuallyhidden"> to the list of commodities</span></a>
    <h1 class="heading-large">Commodity information</h1>
    <%= form_for @search, method: :get, url: perform_search_path, html: { class: "tariff-search #{@section_css}", id: "new_search" } do |f| %>
      <div class="grid-row">
        <div class="column-full">
          <div class="search-header">
            <div class="searchfield form-group">
              <fieldset class="js-date-picker date-picker font-xsmall form-group">
                <span class="fields">This tariff is for
                  <%= f.label :day, 'Day', { class: 'visuallyhidden' }  %>
                  <%= select_day(f.object.date, {}, { id: 'tariff_date_day', name: 'day', class: 'js-select' }) %>
                  <%= f.label :month, 'Month', { class: 'visuallyhidden' }  %>
                  <%= select_month(f.object.date, {}, { id: 'tariff_date_month', name: 'month', class: 'js-select' }) %>
                  <%= f.label :year, 'Year', { class: 'visuallyhidden' }  %>
                  <%= select_year(f.object.date, {end_year: 2008, start_year: Date.current.year + 1 }, { id: 'tariff_date_year', name: 'year', class: 'js-select' }) %>&emsp;
                  <a class="submit" role="button" href="#set-date" title="set date" rel="nofollow">Set date</a>
                </span>
                <span class="text <%= @section_css %>">
                  This tariff is for <%= @search.date.to_formatted_s(:long) %>&emsp;
                  <a href="#change-date" title="change date" rel="nofollow">Change date</a>
                </span>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </header>
<% else %>
  <header>
    <h1 class="heading-large"><a href="<%= sections_path %>">Find import and export commodity codes, licences, duty and VAT rates (Trade Tariff)</a></h1>
  </header>
  <%= form_for @search, method: :get, url: perform_search_path, html: { class: "tariff-search #{@section_css}", id: "new_search" } do |f| %>
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="search-header js-search-header">
          <div class="searchfield form-group">
            <fieldset class="search-input">
              <%= f.hidden_field :q, name: 'q' %>
              <%= f.label :t, "Search the tariff", class: 'form-label' %>
              <%= f.text_field :t, required: false,
                          size: 21,
                          placeholder: "Enter the name of the goods or commodity code",
                          name: 't',
                          class: 'form-control'  %>
            </fieldset>
            <fieldset class="search-submit">
              <%= f.button 'Search', class: 'button' %>
            </fieldset>
          </div>

          <fieldset class="js-date-picker date-picker font-xsmall form-group">
            <span class="fields">This tariff is for
              <%= f.label :day, 'Day', { class: 'visuallyhidden' }  %>
              <%= select_day(f.object.date, {}, { id: 'tariff_date_day', name: 'day', class: 'js-select' }) %>
              <%= f.label :month, 'Month', { class: 'visuallyhidden' }  %>
              <%= select_month(f.object.date, {}, { id: 'tariff_date_month', name: 'month', class: 'js-select' }) %>
              <%= f.label :year, 'Year', { class: 'visuallyhidden' }  %>
              <%= select_year(f.object.date, {end_year: 2008, start_year: Date.current.year + 1 }, { id: 'tariff_date_year', name: 'year', class: 'js-select' }) %>&emsp;
              <a class="submit change-date-link" role="button" href="#set-date" title="set date" rel="nofollow">Set date</a>
            </span>
            <span class="text <%= @section_css %>">
              This tariff is for <%= @search.date.to_formatted_s(:long) %>&emsp;
              <a href="#change-date" class="change-date-link" title="change date" rel="nofollow">Change date</a>
            </span>
          </fieldset>

        </div>
      </div>
    </div>
  <% end %>
<% end %>
