<header class="page-header group">
  <hgroup>
    <h1>
      <span>Service</span>
      Trade Tariff
    </h1>
    <p class="tariff-date <%= @section_css %>">This tariff applies <b>7th August 2012</b> <a href="#date-filter">change date</a></p>
  </hgroup>
</header>
<%= form_for @search, method: :get, url: perform_search_path, html: { class: "tariff-search #{@section_css}"  } do |f| %>
    <a data-skip-pjax href="/sections">View all sections</a>
    <%= f.label :q, "Search the tariff" %>
    <%= f.text_field :q, required: false,
                name: 'q',
                size: 21,
                placeholder: "name/commodity code"  %>
    <%= f.hidden_field :as_of, name: 'as_of' %>

    <%= f.button 'Search', class: 'button right' %>
<% end %>
