<header class="page-header group">
  <div>
    <h1>
      Trade Tariff
    </h1>
  </div>
</header>

<%= form_for @search, method: :get, url: perform_search_path, html: { class: "tariff-search #{@section_css}", id: "new_search" } do |f| %>
  <fieldset class='search'>
    <%= f.hidden_field :q, name: 'q' %>
    <%= f.label :t, "Search the tariff" %>
    <%= f.text_field :t, required: false,
                size: 21,
                placeholder: "name or code",
                name: 't'  %>
    <%= f.button 'Search', class: 'button right' %>
  </fieldset>

  <fieldset class='date-picker help-notice'>
    <span class='fields'>This tariff is for
      <%= f.label :day, 'Day', { class: 'visuallyhidden' }  %>
      <%= select_day(f.object.date, {}, { id: 'tariff_date_day', name: 'day' }) %>
      <%= f.label :month, 'Month', { class: 'visuallyhidden' }  %>
      <%= select_month(f.object.date, {}, { id: 'tariff_date_month', name: 'month' }) %>
      <%= f.label :year, 'Year', { class: 'visuallyhidden' }  %>
      <%= select_year(f.object.date, {end_year: 2008, start_year: (Date.today + 1.year).year }, { id: 'tariff_date_year', name: 'year' }) %>
      <a class="submit" role='button' href='#set-date' title='set date'>set date</a>
    </span>
    <span class="text <%= @section_css %>">
      This tariff is for <%= @search.date.to_formatted_s(:long) %>
      <a href='#change-date' title='change date'>change date</a>
    </span>
  </fieldset>

  <fieldset class='relevant-links'>
    <a href="<%= sections_path %>" class="js-pjax">View all sections</a>
    <a href="<%= a_z_index_path(letter: 'a') %>" class="js-pjax">A-Z Index</a>
  </fieldset>

  <fieldset class='country-picker help-notice'>
    <span class='fields'>
      Trade between the UK and
      <%= f.select :country, f.object.countries.map{ |c| [c.description, c.id] }, { include_blank: 'All countries' }, name: 'country' %>
      <a class="submit" role='button' href="#set-country" title='set country'>set country</a>
    </span>
    <span class='text'>
      <% if @search.filtered_by_country? %>
        Trade between the UK and <%= truncate @search.country_name.to_s, length: 30 %>
      <% else %>
        Trade between the UK and All countries
      <% end %>
      <a href='#change-country' title='change country'>change country</a>
    </span>
  </fieldset>
<% end %>
