<header class="page-header group">
  <hgroup>
    <h1>
      <span>Service</span>
      Trade Tariff
    </h1>
  </hgroup>
</header>

<%= form_for @search, method: :get, url: perform_search_path, html: { class: "tariff-search #{@section_css}"  } do |f| %>
  <fieldset class='search'>
    <%= f.hidden_field :q, name: 'q' %>
    <%= f.label :t, "Search the tariff" %>
    <%= f.text_field :t, required: false,
                size: 21,
                placeholder: "name or code",
                name: 't'  %>
    <%= f.button 'Search', class: 'button right' %>
  </fieldset>

  <fieldset class='date-picker'>
    <span class='fields'>This tariff is for
      <%= f.label :day, 'Day', { class: 'visuallyhidden' }  %>
      <%= select_day(f.object.date, {}, { id: 'tariff_date_day', name: 'day' }) %>
      <%= f.label :month, 'Month', { class: 'visuallyhidden' }  %>
      <%= select_month(f.object.date, {}, { id: 'tariff_date_month', name: 'month' }) %>
      <%= f.label :year, 'Year', { class: 'visuallyhidden' }  %>
      <%= select_year(f.object.date, {end_year: (Date.today - 15.years).year, start_year: (Date.today + 1.year).year }, { id: 'tariff_date_year', name: 'year' }) %>
      <a class="submit">set date</a>
    </span>
    <span class="text <%= @section_css %>">
      This tariff is for <%= @search.date.to_formatted_s(:long) %>
      <a>change date</a>
    </span>
  </fieldset>

  <fieldset class='relevant-links'>
    <a href="<%= sections_path%>" class="js-pjax">View all sections</a>
  </fieldset>

  <fieldset class='country-picker'>
    <span class='fields'>Country of origin/destination
      <%= f.select :country, f.object.countries.map{ |c| [c.description, c.geographical_area_id] }, { include_blank: 'All countries' }, name: 'country' %>
      <a class="submit">set country</a>
    </span>
    <span class='text'>
      Country of origin/destination <%= @search.country_name %>
      <a>change country</a>
    </span>
  </fieldset>
<% end %>
