<% content_for :title, "#{@section} - Trade Tariff - GOV.UK" %>
<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= section_url(@section, format: :json) %>' title='Section information page in JSON format' />
<% end %>

<article class="tariff chapters">
  <div class="inner">
    <dl>
      <dt class="section-number">Section <%= @section.numeral %></dt>
      <dd class="section-title">
        <h1><%= link_to @section, sections_path %></h1>
        <!--<p class="chapters-intro">Microcopy about what chapters are goes here.</p>-->
        <dl class="tariff-fragments chapters">
        <%= render @chapters %>
        </dl>
      </dd>
    </dl>
  </div>

  <%= render partial: 'note', locals: { section_note: @section.section_note } %>
</article>

<script type="text/javascript">
  $(document).ready(function () {
    $("#classification-number").hide();
  });
</script>
