<h1>Trade Tariff</h1>
<p>
  Use this tool to search for import and export commodity codes and for tax,
  duty and licenses that apply to your goods.
</p>

<p id="get-started" class="get-started">
  <a href="<%= sections_path %>" class="button" role="button"><span class="call-to-action">Use the Trade Tariff</span></a>
</p>

<h2>Find out more about:</h2>
<ul>
  <li><%= link_to "classification guides", "https://www.gov.uk/browse/business/imports-exports/classification-of-goods"%></li>
  <li><%= link_to "commodity codes for import and export duty", "https://www.gov.uk/finding-commodity-codes"%></li>
  <li><%= link_to "using the Trade Tariff for classifying imports and exports", "https://www.gov.uk/classification-of-goods"%></li>
  <li><%= link_to "UK Trade Tariff: Volume 1 and 3", "https://www.gov.uk/government/collections/integrated-tariff-of-the-united-kingdom"%></li>
</ul>

<h2>Terms and conditions</h2>
<p>
  Trade Tariff users should be aware that in any case where information in the
  UK Trade Tariff is at variance with that contained in the appropriate
  Community legislation published in the Official Journal of the European
  Communities, the latter will represent the correct legal position.
</p>
<p>
  Whilst every effort is made to ensure the accuracy of the Tariff on GOV.UK,
  the onus remains with the user to consult the Official Journal as necessary
  and to ensure that the correct duties are paid at importation.
</p>
<p>
  In instances where the Customs Authorities are at error, the importer or
  exporter may still be liable for any additional duty that may be demanded as
  a result of that error being discovered.
</p>
<p>
  You can find the Official Journal on the <%= link_to "European Union Europa website", "http://eur-lex.europa.eu/en/index.htm", rel: "external", target: "_blank", title: "Opens in a new window" %> and on the
  <a href="http://ec.europa.eu/taxation_customs/dds2/taric/taric_consultation.jsp?Lang=en&amp;Screen=0&amp;Expand=true" target="_blank" rel="external">Integrated Tariff of the European Community (TARIC) database</a>
</p>
