<article class="tariff heading">
  <div class="inner">
    <dl>
      <dt class="tariff-fragment"><%= @chapter.section.numeral %></dt>
      <dd class="tariff-name"><%= @chapter.section.title %>
        <dl>
          <dt class="tariff-fragment"><%= @chapter.short_code %></dt>
          <dd class="tariff-name"><%= @chapter.description.downcase.titleize %>
            <ol>
              <%= render @headings %>
            </ol>
          </dd>
        </dl>
      </dd>
    </dl>
  </div>
</article>
