<% content_for :title, "#{@chapter.description.downcase.titleize} | Trade Tariff | GOV.UK" %>

<article class="tariff">
  <div class="inner">
    <dl>
      <dt><%= @chapter.section.numeral %></dt>
      <dd class="section-heading"><%= @chapter.section.title %>
        <dl class="tariff-fragments">
          <dt><%= @chapter.short_code %></dt>
          <dd><h1><%= @chapter.description.downcase.titleize %></h1>
            <dl class="chapter-headings">
              <%= render @headings %>
            </dl>
          </dd>
        </dl>
      </dd>
    </dl>
    <article class="chapter-notes">
      <h2>Chapter notes</h2>
      <ol>
        <li>This chapter does not cover:
          <ol class="sub-items">
            <li>candles (heading <a href="#">3406</a>);</li>
            <li>fireworks or other pyrotechnic articles of heading <a href="#">3604</a>;</li>
            <li>yarns, monofilament, cords or gut or the like for fishing, cut to length but not made up into fishing lines, of <a href="#">Chapter 39</a>, heading <a href="#">4206</a> or <a href="#">Section XI</a>;</li>
            <li>sports bags or other containers of heading <a href="#">4202</a>, <a href="#">4303</a> or <a href="#">4304</a>;</li>
            <li>sports clothing or fancy dress, of textiles, of <a href="#">Chapter 61</a> or 62;</li>
            <li>textile flags or bunting, or sails for boats, sailboards or land craft, of <a href="#">Chapter 63</a>;</li>
            <li>sports footwear (other than skating boots with ice or roller skates attached) of <a href="#">Chapter 64</a>, or sports headgear of <a href="#">Chapter 65</a>;</li>
            <li>walking sticks, whips, riding-crops or the like (heading <a href="#">6602</a>), or parts thereof (heading <a href="#">6603</a>);</li>
            <li>unmounted glass eyes for dolls or other toys, of heading <a href="#">7018</a>;</li>
            <li>parts of general use, as defined in note 2 to <a href="#">Section XV</a>, of base metal (<a href="#">Section XV</a>), or similar goods of plastics (<a href="#">Chapter 39</a>);</li>
            <li>bells, gongs or the like of heading <a href="#">8306</a>;</li>
            <li>pumps for liquids (heading <a href="#">8413</a>), filtering or purifying machinery and apparatus for liquids or gases (heading <a href="#">8421</a>), electric motors (heading <a href="#">8501</a>), electric transformers (heading <a href="#">8504</a>), discs, tapes, solid-state non-volatile storage devices, ‘smart cards’ and other media for the recording of sound or of other phenomena, whether or not recorded (heading <a href="#">8523</a>), radio remote-control apparatus (heading <a href="#">8526</a>) or cordless infrared remote-control devices (heading <a href="#">8543</a>);</li>
            <li>sports vehicles (other than bobsleighs, toboggans and the like) of <a href="#">Section XVII</a>;</li>
            <li>children's bicycles (heading <a href="#">8712</a>);</li>
            <li>sports craft such as canoes and skiffs (<a href="#">Chapter 89</a>), or their means of propulsion (<a href="#">Chapter 44</a> for such articles made of wood);</li>
            <li>spectacles, goggles or the like, for sports or outdoor games (heading <a href="#">9004</a>);</li>
            <li>decoy calls or whistles (heading <a href="#">9208</a>);</li>
            <li>arms or other articles of <a href="#">Chapter 93</a>;</li>
            <li>electric garlands of all kinds (heading <a href="#">9405</a>);</li>
            <li>racket strings, tents or other camping goods, or gloves, mittens and mitts (classified according to their constituent material); or</li>
            <li>tableware, kitchenware, toilet articles, carpets and other textile floor coverings, apparel, bed linen, table linen, toilet linen, kitchen linen and similar articles having a utilitarian function (classified according to their constituent material).</li>          
          </ol>        
        </li>
        <li>This chapter includes articles in which natural or cultured pearls, precious or semi-precious stones (natural, synthetic or reconstructed), precious metal or metal clad with precious metal constitute only minor constituents.</li>
        <li>Subject to note 1 above, parts and accessories which are suitable for use solely or principally with articles of this chapter are to be classified with those articles.</li>
        <li>Subject to the provisions of note 1 above, heading <a href="#">9503</a> applies, inter alia, to articles of this heading combined with one or more items, which cannot be considered as sets under the terms of General Interpretative Rule 3(b), and which, if presented separately, would be classified in other headings, provided the articles are put up together for retail sale and the combinations have the essential character of toys.</li>
        <li>Heading <a href="#">9503</a> does not cover articles which, on account of their design, shape or constituent material, are identifiable as intended exclusively for animals, for example, ‘pet toys’ (classification in their own appropriate heading).</li>
      </ol>
    </article>
  </div>
</article>
