<% content_for :title, "#{@chapter} | Trade Tariff | GOV.UK" %>

<article class="tariff">
  <div class="inner">
    <dl>
      <dt class="section-number">Section <%= @chapter.section.numeral %></dt>
      <dd class="section-title"><%= link_to @chapter.section, section_path(@chapter.section), class: "js-pjax" %>
        <dl class="tariff-fragments">
          <dt class="chapter-code"><%= @chapter.short_code %></dt>
          <dd><h1><%= link_to  @chapter, chapter_path(@chapter), class: "js-pjax" %></h1>
            <dl class="chapter-headings">
              <%= render @headings %>
            </dl>
          </dd>
        </dl>
      </dd>
    </dl>
    <% if @chapter.chapter_note.present? %>
      <article class="chapter-notes">
        <h2>Chapter notes</h2>

        <%= simple_format @chapter.chapter_note %>
      </article>
    <% end %>
    </div>
</article>
