<% content_for :title, "#{@chapter} | Trade Tariff | GOV.UK" %>

<article class="tariff">
  <div class="inner">
    <dl>
      <dt class="section-heading">Section <%= @chapter.section.numeral %></dt>
      <dd class="section-heading"><%= link_to @chapter.section, section_path(@chapter.section) %>
        <dl class="tariff-fragments">
          <dt><%= @chapter.short_code %></dt>
          <dd><h1><%= link_to  @chapter, chapter_path(@chapter) %></h1>
            <dl class="chapter-headings">
              <%= render @headings %>
            </dl>
          </dd>
        </dl>
      </dd>
    </dl>
   <article class="chapter-notes">
      <h2>Chapter notes</h2>
   </article>
  </div>
</article>
