<article class="tariff">
  <div class="inner">
    <dl>
      <dt><%= @chapter.section.numeral %></dt>
      <dd><%= @chapter.section.title %>
        <dl>
          <dt class="tariff-fragment"><%= @chapter.short_code %></dt>
          <dd class="tariff-name"><h1><%= @chapter.description.downcase.titleize %></h1>
            <ol>
              <%= render @headings %>
            </ol>
          </dd>
        </dl>
      </dd>
    </dl>
  </div>
</article>
