<% content_for :title, "#{@chapter} - Trade Tariff - GOV.UK" %>
<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= chapter_url(@chapter, format: :json) %>' title='Chapter information page in JSON format' />
<% end %>

<%= render 'shared/tariff_breadcrumbs', chapter: @chapter %>

<article class="tariff">
  <div class="inner">
    <dl class="chapter-headings">
      <%= render @headings %>
    </dl>

    <%= render 'sections/note', section_note: @chapter.section.section_note %>

    <% if @chapter.chapter_note.present? %>
      <article class="chapter-notes">
        <h2>Chapter notes</h2>

        <%= govspeak(@chapter.chapter_note) %>
      </article>
    <% end %>
    </div>
</article>
