<% if commodity.has_children? %>
  <li class="has_children <%= commodity_level(commodity)%><%= leaf_position(commodity) %>">
    <span class="description open" id="commodity-<%= commodity.short_code %>"><%= commodity.to_s.html_safe %></span>
    <ul><%= render commodity.children %></ul>
  </li>
<% else %>
  <li class="<%= commodity_level(commodity)%><%= leaf_position(commodity) %>">
    <a href="<%= commodity_path(commodity) %>" title="View complete information for this commodity">
    <span class="description open" id="commodity-<%= commodity.short_code %>"><%= commodity.to_s.html_safe %></span>
      <span class="identifier" aria-describedby="commodity-<%= commodity.short_code %>">
        <span class="chapter-code"><%= commodity.chapter_code %></span>
        <span class="heading-code"><%= commodity.heading_code %></span>
        <%= commodity.display_short_code %>
      </span>
      </a>
  </li>
<% end %>
