<li<% if ! commodity.leaf? %> class="has_children"<% end %>>
  <% if commodity.leaf? %><a href="<%= commodity_path(commodity) %>"><% end %>
  <span class="description" id="commodity-<%= commodity.short_code %>"><%= commodity %></span>
  <% if commodity.leaf? %>    
    <span class="identifier" aria-describedby="commodity-<%= commodity.short_code %>"><%= commodity.code %></span>
  <% end %>
  <% if commodity.children.any? %>
    <ul><%= render commodity.children %></ul>
  <% end %>
  <% if commodity.leaf? %>
    </a>
    <span class="rate"><%= commodity.third_country_duty_rate %></span>
  <% end %>
</li>
