<% if commodity.has_children? %>
  <li class="has_children <%= commodity_level(commodity)%><%= leaf_position(commodity) %>">
    <span class="description open" id="commodity-<%= commodity.short_code %>"><%= commodity.to_s.html_safe %></span>
    <ul><%= render commodity.children %></ul>
  </li>
<% else %>
  <li class="<%= commodity_level(commodity)%><%= leaf_position(commodity) %>">
    <%= link_to commodity_path(commodity, request.query_parameters.symbolize_keys), title: "View complete information for this commodity" do %>
      <div class="description open" id="commodity-<%= commodity.short_code %>"><%= commodity.to_s.html_safe %></div>
      <div class="identifier" aria-describedby="commodity-<%= commodity.short_code %>">
        <%= format_full_code(commodity) %>
      </div>
    <% end %>
  </li>
<% end %>
