<article class="tariff commodity">
  <div class="inner">
    <nav>
      <dl>
        <dt><%= @section.position %></dt>
        <dd class="section-heading tariff-fragments"><%= link_to @section, section_path(@section) %>
          <dl class="tariff-fragments">
            <dt><%= @chapter.short_code %></dt>
            <dd><%= link_to @chapter, chapter_path(@chapter) %>
              <dl>
                <dt><%= @heading.display_short_code %></dt>
                <dd><%= link_to @heading, heading_path(@heading) %>
                  <dl class="commodities">
                    <dt>Horses</dt>
                    <dd>
                      <dl>
                        <dt>Other</dt>
                        <dd>
                          <strong>
                            <span title="Full tariff code: 0101210000" class="identifier" aria-describedby="commodity-0101210000">21&nbsp;00&nbsp;00</span>
                            <span class="description" id="commodity-0101210000">For slaughter</span>
                          </strong>
                        </dd>
                      </dl>
                    </dd>
                  </dl>
                </dd>
              </dl>
            </dd>
          </dl>
        </dd>
      </dl>
    </nav>
  </div>
  <%= render 'measures/measures', measurable: @commodity %>
</article>
