<div class='browse-sections core-content group'>
  <nav>
    <ul>
      <li>
        <strong>Section</strong>:
        <%= link_to @section, section_path(@section) %>
      </li>
      <li>
        <strong>Chapter</strong>:
        <%= link_to @chapter, chapter_path(@chapter) %>
      </li>
      <li>
        <strong>Heading</strong>:
        <%= link_to @heading, heading_path(@heading) %>
      </li>
    </ul>
  </nav>

  <div class='commodity'>
    <h3>Commodity code <%= @commodity %></h3>
    <pre><%= @commodity.description %></pre>
  </div>

  <hr/>

  <h2>Third country measures</h2>
  <table>
    <thead>
      <tr>
        <td>Measure Type</td>
        <td>Duty rates / prohibitions</td>
        <td>Additional codes</td>
        <td>Conditions</td>
        <td>Exclusions</td>
        <td>Legal Act</td>
        <td>Footnote</td>
      </tr>
    </thead>
  </table>

  <hr/>

  <h2>Measures for specific countries and country groups</h2>
  <table>
    <thead>
      <tr>
        <td>Measure Type</td>
        <td>Duty rates / prohibitions</td>
        <td>Additional codes</td>
        <td>Conditions</td>
        <td>Exclusions</td>
        <td>Legal Act</td>
        <td>Footnote</td>
      </tr>
    </thead>
  </table>
</div>
