<div class='browse-sections core-content group'>
  <nav>
    <ul>
      <li>
        <strong>Back to</strong>:
        <%= link_to "All Sections", sections_path %>
      </li>
      <li>
        <strong>Section</strong>:
        <%= link_to @section, section_path(@section) %>
      </li>
      <li>
        <strong>Chapter</strong>:
        <%= link_to @chapter, chapter_path(@chapter) %>
      </li>
      <li>
        <strong>Heading</strong>:
        <%= link_to @heading, heading_path(@heading) %>
      </li>
    </ul>
  </nav>

  <div class='commodity'>
    <h3><%= @commodity.long_desc %></h3>
  </div>

  <ul class="nav nav-tabs">
    <li class='active'>
      <a href="#import" data-toggle="tab" data-skip-pjax>Import</a>
    </li>
    <li>
      <a href="#export" data-toggle="tab" data-skip-pjax>Export</a>
    </li>
  </ul>

  <div class='tab-content'>
    <div class='tab-pane active' id='import'>
      <%= render partial: 'third_country_measures', locals: { measure_type: :import_measures } %>
      <hr/>
      <%= render partial: 'specific_country_measures', locals: { measure_type: :import_measures } %>
    </div>
    <div class='tab-pane' id='export'>
      <%= render partial: 'third_country_measures', locals: { measure_type: :export_measures } %>
      <hr/>
      <%= render partial: 'specific_country_measures', locals: { measure_type: :export_measures } %>
    </div>
  </div>

</div>
