<article class="tariff commodity">
  <div class="inner">
    <nav>    
      <dl>
        <dt><%= @section.position %></dt>
        <dd class="section-heading tariff-fragments"><%= link_to @section, section_path(@section) %>
          <dl class="tariff-fragments">
            <dt><%= @chapter.short_code %></dt>
            <dd><%= link_to @chapter, chapter_path(@chapter) %>
              <dl>
                <dt><%= @heading.display_short_code %></dt>
                <dd><%= link_to @heading, heading_path(@heading) %>
                  <dl></dl>
                </dd>
              </dl>
            </dd>            
            <strong>Commodity</strong>:
            <ul>
              <%= commodity_tree(@commodity.ancestors << @commodity).html_safe %>
            </ul>
          </dl>
        </dd>
      </dl>
    </nav>
  </div>
  <%= render 'measures/measures', measurable: @commodity %>
</article>

<script type="text/javascript">
  $(function(){
    loadMeasures();
  });
</script>
