<nav class="nav-tabs" role="navigation">
  <ul>
    <li class='active'>
      <a href="#overview" data-toggle="tab" data-skip-pjax role="tab" aria-selected="true" tabindex="-1">Overview</a>
    </li>
    <li>
      <a href="#import" data-toggle="tab" data-skip-pjax role="tab" aria-selected="false" tabindex="0">Import</a>
    </li>
    <li>
      <a href="#export" data-toggle="tab" data-skip-pjax role="tab" aria-selected="false" tabindex="0">Export</a>
    </li>
    <li>
      <a href="#footnotes" data-toggle="tab" data-skip-pjax role="tab" aria-selected="false" tabindex="0">Footnotes</a>
    </li>
  </ul>
</nav>

<div id="measures-js" class='tab-content'>
  <article class='tab-pane active' id='overview'>
    <div class="inner">
      <h1>Overview</h1>
      <h2>Import</h2>
      <p>Importing from outside the EU is subject to a third country duty of <em><%= measurable.third_country_duty_rate %></em>.</p>
      <p> Goods are also subject to VAT standard rate of <em><%= measurable.uk_vat_rate %></em>.</p>
      <h2>Export</h2>
      <p>Importing from outside the EU is subject to a third country duty of <em><%= measurable.third_country_duty_rate %></em>.</p>
      <p> Goods are also subject to VAT standard rate of <em><%= measurable.uk_vat_rate %></em>.</p>
      <!-- <h2>Export</h2>
      TODO: send count of export measures in the commoidity to do the check here
-->
      <div class="help-notice">
        <p> See import and export tables for country-specific measures and restrictions.</p>
      </div>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div>
  </article>
  <article class='tab-pane' id='import' data-id="<%= measurable.to_param %>" data-class="<%=measurable.class.name.downcase.pluralize %>">
    <div class="inner">
      <table>
        <caption>Third country measures:</caption>
        <thead>
          <tr>
            <th scope="col">Measure Type</th>

            <th scope="col">Duty rates / prohibitions</th>

            <th scope="col">Additional codes</th>

            <th scope="col">Conditions</th>

            <th scope="col">Exclusions</th>

            <th scope="col">Legal Act</th>

            <th scope="col">Footnote</th>
          </tr>
        </thead>

        <tbody>
          <% measurable.import_measures.select(&:third_country).group_by(&:geographical_area_type).each do |group, measures| %>
            <%= render partial: "measures/measure", collection: measures.sort_by(&:geographical_area_description), locals: { measure_group: "third_country" } %>
          <% end %>
        </tbody>
      </table>

      <table>
        <caption>Measures for specific countries and country groups:</caption>
        <thead>
          <tr>
            <th>Country</th>

            <th>Measure Type</th>

            <th>Duty rates / prohibitions</th>

            <th>Additional codes</th>

            <th>Conditions</th>

            <th>Exclusions</th>

            <th>Legal Act</th>

            <th>Footnotes</th>
          </tr>
        </thead>

        <tbody>
          <% measurable.import_measures.select(&:for_specific_countries).group_by(&:geographical_area_type).each do |group, measures| %>
            <%= render partial: "measures/measure", collection: measures.sort_by(&:geographical_area_description), locals: { measure_group: "specific_country" } %>
          <% end %>
        </tbody>
      </table>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div><!-- end .inner -->
  </article><!-- end .tab-pane -->
  <article class='tab-pane' id='export' data-id="<%= measurable.to_param %>" data-class="<%=measurable.class.name.downcase.pluralize %>">
    <div class="inner">
      <table>
        <caption>Third country measures:</caption>
        <thead>
          <tr>
            <th scope="col">Measure Type</th>

            <th scope="col">Duty rates / prohibitions</th>

            <th scope="col">Additional codes</th>

            <th scope="col">Conditions</th>

            <th scope="col">Exclusions</th>

            <th scope="col">Legal Act</th>

            <th scope="col">Footnote</th>
          </tr>
        </thead>

        <tbody>
          <% measurable.export_measures.select(&:third_country).group_by(&:geographical_area_type).each do |group, measures| %>
            <%= render partial: "measures/measure", collection: measures.sort_by(&:geographical_area_description), locals: { measure_group: "third_country" } %>
          <% end %>
        </tbody>
      </table>

      <table>
        <thead>
          <tr>
            <th>Country</th>

            <th>Measure Type</th>

            <th>Duty rates / prohibitions</th>

            <th>Additional codes</th>

            <th>Conditions</th>

            <th>Exclusions</th>

            <th>Legal Act</th>

            <th>Footnotes</th>
          </tr>
        </thead>

        <tbody>
          <% measurable.export_measures.select(&:for_specific_countries).group_by(&:geographical_area_type).each do |group, measures| %>
            <%= render partial: "measures/measure", collection: measures.sort_by(&:geographical_area_description), locals: { measure_group: "specific_country" } %>
          <% end %>
        </tbody>
      </table>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div><!-- end .inner -->
  </article><!-- end .tab-pane -->
  <article class='tab-pane' id='footnotes' data-id="<%= measurable.to_param %>" data-class="<%=measurable.class.name.downcase.pluralize %>">
    <div class="inner">
      <table>
        <caption>Measures for commodity:</caption>
        <thead>
          <tr>
            <th>Code</th>

            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <%= render measurable.footnotes %>
        </tbody>
      </table>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div><!-- end .inner -->
  </article><!-- end .tab-pane -->
</div><!-- end .tab-content -->
