<nav class="nav-tabs" role="navigation">
  <ul>
    <li class='active'>
      <a href="#overview" data-toggle="tab" data-skip-pjax role="tab" aria-selected="true" tabindex="-1">Overview</a>
    </li>
    <li>
      <a href="#import" data-toggle="tab" data-skip-pjax role="tab" aria-selected="false" tabindex="0">Import</a>
    </li>
    <li>
      <a href="#export" data-toggle="tab" data-skip-pjax role="tab" aria-selected="false" tabindex="0">Export</a>
    </li>
    <li>
      <a href="#footnotes" data-toggle="tab" data-skip-pjax role="tab" aria-selected="false" tabindex="0">Footnotes</a>
    </li>
  </ul> 
</nav>

<div id="measures-js" class='tab-content'>
  <article class='tab-pane active' id='overview'>
    <div class="inner">
      <h1>Overview</h1>
      <h2>Import</h2>
      <p>Importing from outside the EU is subject to a third country duty of <em><%= measurable.third_country_duty_cache %></em>.</p>
      <p> Goods are also subject to VAT standard rate of <em><%= measurable.uk_vat_rate_cache %></em>.</p>
      <h2>Export</h2>
      <p>Importing from outside the EU is subject to a third country duty of <em><%= measurable.third_country_duty_cache %></em>.</p>
      <p> Goods are also subject to VAT standard rate of <em><%= measurable.uk_vat_rate_cache %></em>.</p>
      <!-- <h2>Export</h2>
      TODO: send count of export measures in the commoidity to do the check here
-->
      <div class="help-notice">
        <p> See import and export tables for country-specific measures and restrictions.</p>
      </div>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div>
  </article>
  <article class='tab-pane' id='import' data-id="<%= measurable.to_param %>" data-class="<%=measurable.class.name.downcase.pluralize %>">
    <div class="inner">        
      <table>
        <caption>Third country measures:</caption>
        <thead>
          <tr>
            <th scope="col">Measure Type</th>
    
            <th scope="col">Duty rates / prohibitions</th>
    
            <th scope="col">Additional codes</th>
    
            <th scope="col">Conditions</th>
    
            <th scope="col">Exclusions</th>
    
            <th scope="col">Legal Act</th>
    
            <th scope="col">Footnote</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>Third country duty</td>
    
            <td>4.70%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">R1549/06</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Import control on cat and dog fur</td>
    
            <td></td>
    
            <td></td>
    
            <td>
              <a href="#" title="Import control on cat and dog fur" class="reference">View condition</a>
            </td>
    
            <td></td>
    
            <td><a href="#">R1523/07</a></td>
    
            <td><a href="#">CD568</a></td>
          </tr>
    
          <tr>
            <td>VAT standard rate</td>
    
            <td>20.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">03020</a></td>
          </tr>
        </tbody>
      </table>

      <table>
        <caption>Measures for specific countries and country groups:</caption>
        <thead>
          <tr>
            <th>Country</th>
    
            <th>Measure Type</th>
    
            <th>Duty rates / prohibitions</th>
    
            <th>Additional codes</th>
    
            <th>Conditions</th>
    
            <th>Exclusions</th>
    
            <th>Legal Act</th>
    
            <th>Footnotes</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>
              <dl>
                <dt class="has_children">CARIFORUM</dt>
              <dd>
                <ul>
                  <li>AG Antigua and Barbuda</li>
      
                  <li>BB Barbados</li>
      
                  <li>BS Bahamas</li>
      
                  <li>BZ Belize</li>
      
                  <li>DM Dominica</li>
      
                  <li>DO Dominican Republic</li>
      
                  <li>GD Grenada</li>
      
                  <li>GY Guyana</li>
      
                  <li>HT Haiti</li>
      
                  <li>JM Jamaica</li>
      
                  <li>KN St Kitts and Nevis</li>
      
                  <li>LC St. Lucia</li>
      
                  <li>SR Surinam</li>
      
                  <li>TT Trinidad and Tobago</li>
      
                  <li>VC St Vincent and the Grenadines</li>
                </ul>
              </dd>
            </td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td>Haiti</td>
    
            <td><a href="#">D0805/08</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td><a href="#">EU-Switzerland agreement:re-imported goods</a></td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td class="contains-conditions">
              <a href="#" title="EU-Switzerland agreement:re-imported goods" class="reference">View condition</a>
            </td>
    
            <td></td>
    
            <td><a href="#">R2840/72</a></td>
    
            <td><a href="#">CD500</a></td>
          </tr>
    
          <tr>
            <td><a href="#">EUROPEAN ECONOMIC AREA</a></td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td><a href="#" title="EUROPEAN ECONOMIC AREA" class="reference">View condition</a></td>
    
            <td></td>
    
            <td><a href="#">D0001/94</a></td>
    
            <td><a href="#">CD303</a></td>
          </tr>
    
          <tr>
            <td><a href="#">Economic Partnership Agreements</a></td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">R1528/07</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td><a href="#">GSP (R 08/732) - Annex I Column D</a></td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td>Myanmar</td>
    
            <td><a href="#">R0732/08</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td><a href="#">GSP (R 08/732) - General arrangements</a></td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td>China</td>
    
            <td><a href="#">R0732/08</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td><a href="#">GSP + (incentive arrangement for sustainable development and good
            governance)</a></td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">R0732/08</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td><a href="#">LOMB O'SEAS C'TRIES&nbsp;&amp;&nbsp;T'TORIES</a></td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0822/01</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Albania</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0332/09</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Algeria</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0690/05</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Andorra</td>
    
            <td>Customs Union Duty</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0680/90</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Bosnia and Herzegovina</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0474/08</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Ceuta</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">A0001/85</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Chile</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0979/02</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Croatia</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0040/05</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Egypt</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0635/04</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Faroe Islands</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0126/97</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Former Yugoslav Republic of Macedonia</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0239/04</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Iran</td>
    
            <td>Import control on restricted goods and technologies</td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#" title="Iran" class="reference">View condition</a></td>
    
            <td></td>
    
            <td><a href="#">R0267/12</a></td>
    
            <td><a href="#">MG434, CD995, MG356</a></td>
          </tr>
    
          <tr>
            <td>Israel</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0855/09</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Jordan</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0357/02</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Kosovo (As defined by United Nations Security Council Resolution 1244 of 10
            June 1999)</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">R1336/11</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Lebanon</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0356/06</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Melilla</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">A0001/85</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Mexico</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0002/00</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Moldova</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">R0055/08</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Montenegro</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0224/10</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Morocco</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0204/00</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>North Korea</td>
    
            <td>Import control on restricted goods and technologies</td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#" title="North Korea" class="reference">View condition</a></td>
    
            <td></td>
    
            <td><a href="#">R1283/09</a></td>
    
            <td><a href="#">CD995, DU629, DU652, DU063</a></td>
          </tr>
    
          <tr>
            <td>Occupied palestinian Territory</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0430/97</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Papua New Guinea</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0729/09</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>San Marino</td>
    
            <td>Customs Union Duty</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0245/02</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Serbia</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0036/10</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>South Africa</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0753/99</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>South Korea</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0265/11</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Switzerland</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">R2840/72</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Syria</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">R2216/78</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Tunisia</td>
    
            <td>Tariff preference</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0238/98</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td>Turkey</td>
    
            <td>Customs Union Duty</td>
    
            <td>0.00%</td>
    
            <td></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">D0142/96</a></td>
    
            <td></td>
          </tr>
        </tbody>
      </table>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div><!-- end .inner -->
  </article><!-- end .tab-pane -->
  <article class='tab-pane' id='export' data-id="<%= measurable.to_param %>" data-class="<%=measurable.class.name.downcase.pluralize %>">
    <div class="inner">        
      <table>
        <caption>Third country measures:</caption>
        <thead>
          <tr>
            <th scope="col">Measure Type</th>
    
            <th scope="col">Duty rates / prohibitions</th>
    
            <th scope="col">Additional codes</th>
    
            <th scope="col">Conditions</th>
    
            <th scope="col">Exclusions</th>
    
            <th scope="col">Legal Act</th>
    
            <th scope="col">Footnote</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td colspan="7"><p>There are no EU third country measures for this commodity on this date</p></td>
          </tr>
    
          <tr>
            <td colspan="7"><p>No VAT or Excise measures were found for this commodity on this date</p></td>
          </tr>
        </tbody>
      </table>
      
      <table>
        <thead>
          <tr>
            <th>Country</th>
    
            <th>Measure Type</th>
    
            <th>Duty rates / prohibitions</th>
    
            <th>Additional codes</th>
    
            <th>Conditions</th>
    
            <th>Exclusions</th>
    
            <th>Legal Act</th>
    
            <th>Footnotes</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td><a href="#">All third countries</a></td>
    
            <td>Export authorization (prior surveillance)</td>
    
            <td></td>
    
            <td><a href="#">4049</a></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">R1210/03</a></td>
    
            <td><a href="#">TM571</a></td>
          </tr>
    
          <tr>
            <td><a href="#">All third countries</a></td>
    
            <td>Export authorization (prior surveillance)</td>
    
            <td></td>
    
            <td><a href="#">4099</a></td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#">R1210/03</a></td>
    
            <td></td>
          </tr>
    
          <tr>
            <td><a href="#">All third countries</a></td>
    
            <td>Export control on cultural goods</td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#" title="All third countries" class="reference">View condition</a></td>
    
            <td></td>
    
            <td><a href="#">R0116/09</a></td>
    
            <td><a href="#">CG024, CD483</a></td>
          </tr>
    
          <tr>
            <td><a href="#">All third countries</a></td>
    
            <td>Export control on cat and dog fur</td>
    
            <td></td>
    
            <td></td>
    
            <td><a href="#" title="All third countries" class="reference">View condition</a></td>
    
            <td></td>
    
            <td><a href="#">R1523/07</a></td>
    
            <td><a href="#">CD568</a></td>
          </tr>
        </tbody>
      </table>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div><!-- end .inner -->
  </article><!-- end .tab-pane -->
  <article class='tab-pane' id='footnotes' data-id="<%= measurable.to_param %>" data-class="<%=measurable.class.name.downcase.pluralize %>">
    <div class="inner">
      <table>
        <caption>Measures for specific countries and country groups:</caption>
        <thead>
          <tr>
            <th>Code</th>
    
            <th>Description</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>CD500</td>
    
            <td>Eligibility to benefit from this preference is subject to the presentation of a proof of origin stating the community origin of the goods, in the context of the agreement between the European Economic Community and the Swiss Confederation.</td>
          </tr>
    
          <tr>
            <td>03020</td>
    
            <td>UK VAT standard rate</td>
          </tr>
    
          <tr>
            <td>TM570</td>
    
            <td>The following shall be prohibited:<br />
            a) the import of or the introduction into the territory of the Community of, and<br />
            b) the dealing in, Iraqi cultural property and other items of archaeological, historical, cultural, rare scientific and religious importance, if they have been illegally removed from locations in Iraq, in particular, if:<br />
            i) the items form an integral part of either the public collections listed in the inventories of Iraqi museums, archives or libraries' conservation collection, or the inventories of Iraqi religious institutions, or<br />
            ii) there exists reasonable suspicion that the goods have been removed from Iraq without the consent of their legitimate owner or have been removed in breach of Iraq's laws and regulations.<br />
            These prohibitions shall not apply if it is shown that either:<br />
            a) the cultural items were exported from Iraq prior to 6 August 1990; or<br />
            b) the cultural items are being returned to Iraqi institutions in accordance with the objective of safe return as set out in paragraph 7 of UNSC Resolution 1483 (2003).</td>
          </tr>
    
          <tr>
            <td>CD303</td>
    
            <td>The relief from or reduction of customs duties shall be subject to the specific request expressed by the declarant in box 44 "Additional information/Documents produced/Certificates and authorisations", of the Single Administrative Document (SAD)</td>
          </tr>
    
          <tr>
            <td>TM571</td>
    
            <td>The following shall be prohibited:<br />
            a) the export of or removal from the territory of the Community of, and<br />
            b) the dealing in, Iraqi cultural property and other items of archaeological, historical, cultural, rare scientific and religious importance, if they have been illegally removed from locations in Iraq, in particular, if:<br />
            i) the items form an integral part of either the public collections listed in the inventories of Iraqi museums, archives or libraries' conservation collection, or the inventories of Iraqi religious institutions, or<br />
            ii) there exists reasonable suspicion that the goods have been removed from Iraq without the consent of their legitimate owner or have been removed in breach of Iraq's laws and regulations.<br />
            These prohibitions shall not apply if it is shown that either:<br />
            a) the cultural items were exported from Iraq prior to 6 August 1990; or<br />
            b) the cultural items are being returned to Iraqi institutions in accordance with the objective of safe return as set out in paragraph 7 of UNSC Resolution 1483 (2003).</td>
          </tr>
    
          <tr>
            <td>CD483</td>
    
            <td>If the declared goods are described in the "CG" footnotes linked to the measure, an export licence must be presented</td>
          </tr>
    
          <tr>
            <td>CG024</td>
    
            <td>Between 50 and 100 years old, with a value corresponding to or exceeding 50000 Euro</td>
          </tr>
    
          <tr>
            <td>CD568</td>
    
            <td>The placing on the market and the import to, or export from, the Community of cat and dog fur, and products containing such fur is prohibited. (see Art. 3 Regulation (EC) No 1523/2007).</td>
          </tr>
        </tbody>
      </table>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div><!-- end .inner -->
  </article><!-- end .tab-pane -->
</div><!-- end .tab-content -->
