<tr>
  <% if measure_group == "specific_country" %>
    <td>
      <dl>
        <dt class="<% if measure.geographical_area.children_geographical_areas.any? %>has_children<% end %>">
          <%= measure.geographical_area.description %>
        </dt>
      <dd>
        <% if measure.geographical_area.children_geographical_areas.any? %>
          <ul>
            <% measure.geographical_area.children_geographical_areas.each do |children_geographical_area| %>
              <li><%= children_geographical_area.iso_code %> <%= children_geographical_area.description %></li>
            <% end %>
          </ul>
        <% end %>
      </dd>
    </td>
  <% end %>

  <td><%= measure.measure_type_description %></td>

  <td><%= measure.duty_expression %></td>

  <td><%= measure.additional_code %></td>

  <td>
    <% if measure.measure_conditions.any? %>
      <%= link_to "View Conditions", "#", class: 'reference' %>
    <% end %>
  </td>

  <td><%= measure.excluded_country_list %></td>

  <td><%= link_to measure.legal_act.generating_regulation_code, measure.legal_act.url %></td>

  <td>
    <% measure.footnotes.each do |footnote| %>
      <%= link_to footnote.code, "#" %>&nbsp;
    <% end %>
  </td>
</tr>
