<tr>
  <td>
    <span class="flag <%= measure.origin %>"></span>
  </td>
  <% if measure_group == "specific_country" %>
    <td>
      <% if measure.geographical_area.children_geographical_areas.any? %>
      <dl>
        <dt class="has_children">
          <%= measure.geographical_area.description %>
          <% if measure.suspension_legal_act.present? %>
            <br />
            <a class="suspended" href="<%= measure.suspension_legal_act.url %>" target="_blank">
              Suspended from <%= measure.suspension_legal_act.validity_start_date %>
              <% if measure.suspension_legal_act.validity_end_date %>
                to <%= measure.suspension_legal_act.validity_end_date %>
              <% end %>
            </a>
          <% end %>
        </dt>
      <dd>
        <ul>
          <% measure.geographical_area.children_geographical_areas.sort_by(&:iso_code).each do |children_geographical_area| %>
            <li><%= children_geographical_area.iso_code %> <%= children_geographical_area.description %></li>
          <% end %>
        </ul>
      </dd>
        <% else %>
          <%= measure.geographical_area.description %>
          <% if measure.suspension_legal_act.present? %>
            <br />
            <a class="suspended" href="<%= measure.suspension_legal_act.url %>" target="_blank">
              Suspended from <%= measure.suspension_legal_act.validity_start_date %>
              <% if measure.suspension_legal_act.validity_end_date %>
                to <%= measure.suspension_legal_act.validity_end_date %>
              <% end %>
            </a>
          <% end %>
        <% end %>
    </td>
  <% end %>

  <td>
    <%= measure.measure_type_description %>
    <% if measure.order_number.present? %>
    <br />
      <%= render measure.order_number %>
    <% end %>
  </td>
  <td>
    <%= measure.effective_start_date %><% if measure.effective_end_date.present? %>&nbsp;-&nbsp;<%= measure.effective_end_date %><% end %>
  </td>
  <td><%= measure.duty_expression %></td>

  <td>
    <% if measure.additional_code.present? %>
      <%= link_to measure.additional_code,  "##{measure.additional_code.id}", class: 'reference', 'data-popup-ref' => "additional-code-#{measure.additional_code.id}" %>
    <% end %>
  </td>

  <td>
    <% if measure.measure_conditions.any? %>
      <%= link_to "View Conditions",  "##{measure.id}", class: 'reference', 'data-popup-ref' => "conditions-#{measure.id}" %>
    <% end %>
  </td>

  <td><%= measure.excluded_country_list %></td>

  <td>
    <% if measure.legal_act.present? %>
      <%= link_to measure.legal_act.generating_regulation_code, measure.legal_act.url, target: '_blank', rel: 'external' %>
    <% end %>
  </td>

  <td>
      <% measure.footnotes.each do |footnote| %>
        <%= link_to footnote.code, "##{footnote.id}", class: 'reference', 'data-popup-ref' => "footnote-#{footnote.id}" %>&nbsp;
      <% end %>
  </td>
</tr>
