<nav class="nav-tabs" role="navigation">
  <ul>
    <li class='active'>
      <a href="#overview" data-toggle="tab">Overview</a>
    </li>
    <li>
      <a href="#import" data-toggle="tab">Import</a>
    </li>
    <li>
      <a href="#export" data-toggle="tab">Export</a>
    </li>
    <li>
      <a href="#footnotes" data-toggle="tab">Footnotes</a>
    </li>
  </ul>
</nav>

<div id="measures-js" class='tab-content'>
  <article class='tab-pane active' id='overview'>
    <%= render partial: 'declarables/consigned', locals: { declarable: declarable } %>
    <div class="inner">
      <h1 class="visuallyhidden">Overview</h1>
      <h2>Import</h2>
			<p>The commodity code for importing is <em><%= declarable.code %></em>.</p>
      <% if declarable.third_country_duty.present? %>
        <p>Importing from outside the EU is subject to a third country duty of <em><%= declarable.third_country_duty_rate %></em>.</p>
      <% else %>
        <p>Importing from outside the EU is subject to <em>variable</em> third country duty.</p>
      <% end %>
      <% declarable.national_vat_import_measures.each do |measure| %>
        <p>Goods are subject to <%= measure.measure_type_description %>.</p>
      <% end %>

      <% if declarable.display_meursing_table? %>
        <h1>Find meursing code</h1>
        <p>To calculate the duty rate you need to <%= link_to "find the additional meursing code", "https://www.gov.uk/additional-commodity-code", rel: "external", target: "_blank", title: "Opens in a new window"%>.</p>
      <% end %>

      <h2>Export</h2>
      <p>The commodity code for exporting and intrastat reporting is <em><%= declarable.display_export_code %></em>.</p>

      <h2>Binding Tariff Information</h2>
      <p><%= link_to "You can search the EU EBTI-database for existing Binding Tariff Information for this commodity code", declarable.bti_url, rel: "external", target: "_blank", title: "Opens in a new window" %></p>

      <div class="help-notice">
        <p> See <a href="#import" data-toggle='tab'>import</a> and <a href="#export" data-toggle='tab'>export</a> tables for country-specific measures and restrictions.</p>
      </div>

      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div>
  </article>
  <article class='tab-pane' id='import' data-id="<%= declarable.to_param %>" data-class="<%=declarable.class.name.downcase.pluralize %>">
    <%= render partial: 'declarables/consigned', locals: { declarable: declarable } %>
    <p>The commodity code for importing is <em><%= declarable.code %></em>.</p>
    <div class="inner">
      <table>
        <caption>Third country measures:</caption>
        <thead>
          <tr>
            <th scope="col">&nbsp;</th>

            <th scope="col">Measure Type</th>

            <th scope="col">Start &amp; End Dates</th>

            <th scope="col">Duty rates / Supplementary units</th>

            <th scope="col">Additional codes</th>

            <th scope="col">Conditions</th>

            <th scope="col">Exclusions</th>

            <th scope="col" class="legal-act external-link" title="Links open externally">Legal Act</th>

            <th scope="col">Footnote</th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "measures/measure", collection: declarable.import_measures_for_third_country %>
        </tbody>
      </table>

      <table>
        <caption>Measures for specific countries and country groups:</caption>
        <thead>
          <tr>
            <th>&nbsp;</th>

            <th>Country</th>

            <th>Measure Type</th>

            <th>Start &amp; End Dates</th>

            <th>Duty rates / Supplementary units</th>

            <th>Additional codes</th>

            <th>Conditions</th>

            <th>Exclusions</th>

            <th class="legal-act external-link" title="Links open externally">Legal Act</th>

            <th>Footnotes</th>
          </tr>
        </thead>

        <tbody>
        <% if declarable.has_import_measures_for_specific_countries? %>
          <%= render partial: "measures/measure", collection: declarable.import_measures_for_specific_countries %>
        <% else %>
          <tr>
            <td><span class="flag eu"></span></td>
            <td colspan="8">There are no EU preference measures for this commodity on this date</td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div><!-- end .inner -->
  </article><!-- end .tab-pane -->
  <article class='tab-pane' id='export' data-id="<%= declarable.to_param %>" data-class="<%=declarable.class.name.downcase.pluralize %>">
    <%= render partial: 'declarables/consigned', locals: { declarable: declarable } %>
    <p>The commodity code for exporting and intrastat reporting is <em><%= declarable.display_export_code %></em>.</p>
    <div class="inner">
      <table>
        <caption>Third country measures:</caption>
        <thead>
          <tr>
            <th scope="col">&nbsp;</th>

            <th scope="col">Measure Type</th>

            <th scope="col">Start &amp; End Dates</th>

            <th scope="col">Duty rates / Supplementary units</th>

            <th scope="col">Additional codes</th>

            <th scope="col">Conditions</th>

            <th scope="col">Exclusions</th>

            <th scope="col" class="legal-act external-link" title="Links open externally">Legal Act</th>

            <th scope="col">Footnote</th>
          </tr>
        </thead>
        <tbody>
        <% if declarable.has_export_measures_for_third_countries? %>
          <%= render partial: "measures/measure", collection: declarable.export_measures_for_third_country %>
          <% unless declarable.has_vat_or_excise_third_country_export_measures? %>
            <tr>
              <td><span class="flag uk"></span></td>
              <td colspan="8">No VAT or Excise measures were found for this commodity on this date</td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td><span class="flag eu"></span></td>
            <td colspan="8">There are no EU third country measures for this commodity on this date</td>
          </tr>
          <tr>
            <td><span class="flag uk"></span></td>
            <td colspan="8">No VAT or Excise measures were found for this commodity on this date</td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <table>
        <caption>Measures for specific countries and country groups:</caption>
        <thead>
          <tr>
            <th>&nbsp;</th>

            <th>Country</th>

            <th>Measure Type</th>

            <th>Start &amp; End Dates</th>

            <th>Duty rates / Supplementary units</th>

            <th>Additional codes</th>

            <th>Conditions</th>

            <th>Exclusions</th>

            <th class="legal-act external-link" title="Links open externally">Legal Act</th>

            <th>Footnotes</th>
          </tr>
        </thead>

        <tbody>
        <% if declarable.has_export_measures_for_specific_countries? %>
          <%= render partial: "measures/measure", collection: declarable.export_measures_for_specific_countries %>
        <% else %>
          <tr>
            <td><span class="flag eu"></span></td>
            <td colspan="9">There are no EU preference measures for this commodity on this date</td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div><!-- end .inner -->
  </article><!-- end .tab-pane -->
  <article class='tab-pane' id='footnotes' data-id="<%= declarable.to_param %>" data-class="<%=declarable.class.name.downcase.pluralize %>">
    <div class="inner">
      <table>
        <caption>Footnotes for commodity:</caption>
        <thead>
          <tr>
            <th>Code</th>

            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <% if declarable.footnote.present? %>
            <%= render declarable.footnote %>
          <% end %>
          <%= render declarable.footnotes %>
        </tbody>
      </table>
      <nav class="part-pagination return-to-top">
        <a href="#wrapper">Return to top &uarr;</a>
      </nav>
    </div><!-- end .inner -->
  </article><!-- end .tab-pane -->
  <div class="inner">
    <%= render partial: "measures/measure_references", collection: declarable.import_measures_for_third_country, as: 'measure' %>
    <%= render partial: "measures/measure_references", collection: declarable.import_measures_for_specific_countries, as: 'measure' %>
  </div>
  <div class="inner">
    <%= render partial: "measures/measure_references", collection: declarable.export_measures_for_third_country, as: 'measure' %>
    <%= render partial: "measures/measure_references", collection: declarable.export_measures_for_specific_countries, as: 'measure' %>
  </div>
</div><!-- end .tab-content -->
