<tr class="<%= measure.geo_class %>">
  <td>
    <span class="flag <%= measure.origin %>"></span>
  </td>
  <% if measure.for_specific_countries %>
    <td>
      <% if measure.has_children_geographical_areas? %>
      <dl>
        <dt class="has_children">
          <%= measure.geographical_area_description %>
        </dt>
      <dd>
        <ul>
          <% measure.children_geographical_areas.each do |children_geographical_area| %>
            <li><%= children_geographical_area.geographical_area_id %> <%= children_geographical_area.description %></li>
          <% end %>
        </ul>
      </dd>
    <% else %>
      <%= measure.geographical_area_description %>
    <% end %>
    </td>
  <% end %>

  <td>
    <%= measure.measure_type_description %>
    <% if measure.order_number.present? %>
    <br />
      <%= render measure.order_number %>
    <% end %>
  </td>

  <td>
    <%= measure.effective_start_date %><% if measure.effective_end_date.present? %>&nbsp;-&nbsp;<%= measure.effective_end_date %><% end %>
    <% if measure.suspension_legal_act.present? %>
      <br />
      <a class="suspended" href="<%= measure.suspension_legal_act.url %>" target="_blank">
        Suspended from <%= measure.suspension_legal_act.validity_start_date %>
        <% if measure.suspension_legal_act.validity_end_date %>
          to <%= measure.suspension_legal_act.validity_end_date %>
        <% end %>
      </a>
    <% end %>
  </td>
  <td>
    <% if measure.excise? && declarable.national_measurement_units.any? %>
      <%= number_with_precision(measure.measure_components.first.duty_amount, precision: 2) %>
      <%= measure.measure_components.first.monetary_unit %> /
      <%= declarable.national_measurement_units.select(&:present?).join(' / ') %>
    <% else %>
      <%= measure.duty_expression %>
    <% end %>
  </td>

  <td>
    <% if measure.additional_code.present? %>
      <%= link_to measure.additional_code,  "##{measure.additional_code.id}", class: 'reference', 'data-popup-ref' => "#{measure.additional_code.id}" %>
    <% end %>
  </td>

  <td>
    <% if measure.measure_conditions.any? %>
      <%= link_to "View Conditions",  "##{measure.destination}-#{measure.id}-conditions", class: 'reference', 'data-popup-ref' => "#{measure.destination}-#{measure.id}-conditions" %>
    <% end %>
  </td>

  <td><%= measure.excluded_country_list %></td>

  <td>
    <% if measure.legal_act.present? %>
      <%= link_to measure.legal_act.generating_regulation_code, measure.legal_act.url, target: '_blank', rel: 'external' %>
    <% end %>
  </td>

  <td>
      <% measure.footnotes.each do |footnote| %>
        <%= link_to footnote.code, "##{footnote.id}", class: 'reference', 'data-popup-ref' => footnote.id %>&nbsp;
      <% end %>
  </td>
</tr>
