<div class="js-tabs nav-tabs">
  <ul>
    <li class='active'>
      <a href="#overview">Overview</a>
    </li>
    <li>
      <a href="#import">Import</a>
    </li>
    <li>
      <a href="#export">Export</a>
    </li>
    <li>
      <a href="#notes">Chapter notes</a>
    </li>
  </ul>
</div>

<div class="js-tab-content tab-content">
<!-- Overview tab -->
  <article class="js-tab-pane tab-pane active" id="overview">
    <%= render partial: 'declarables/consigned', locals: { declarable: declarable } %>
    <%= render partial: 'declarables/filtered', locals: { search: @search } %>
    <div class="inner">
      <h1 class="visuallyhidden">Overview</h1>
      <div class="grid-row import-and-export-boxes">
        <div class="column-one-half">
          <div class="import box">
            <h2 class="heading-medium">Import</h2>
            <p>The commodity code for importing is <strong><%= declarable.code %></strong>.</p>
            <% declarable.import_measures.vat.national.each do |measure| %>
              <p>Goods are subject to <strong><%= measure.measure_type.description %></strong>.</p>
            <% end %>
            <% if declarable.basic_duty_rate.present? %>
              <p>Importing from outside the EU is subject to a third country duty of <strong><%= declarable.basic_duty_rate.html_safe %></strong> unless subject to other measures.</p>
            <% else %>
              <p>Importing from outside the EU is subject to <strong>variable</strong> third country duty.</p>
            <% end %>
            <p> Import measures and restrictions for specific countries can be found under the <a href="#import">import</a> tab.</p>
          </div>
        </div>

        <div class="column-one-half">
          <div class="export box">
            <h2 class="heading-medium">Export</h2>
            <p>The commodity code for exporting and intrastat reporting is <strong><%= declarable.display_export_code %></strong>.</p>

              <p>Export measures and restrictions for specific countries can be found under the <a href="#export">export</a> tab.</p>
          </div>
        </div>
      </div>
    <% if declarable.footnote.code.present? %>
      <table class="small-table">
        <caption class="heading-medium">Commodity footnotes</caption>
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <%= render declarable.footnote %>
        </tbody>
      </table>
    <% end %>
    <% if declarable.meursing_code? %>
      <h2 class="heading-medium">This commodity has a meursing code</h2>
      <p>Use the <%= link_to "Look up Meursing code", "https://www.gov.uk/additional-commodity-code", rel: "external", target: "_blank", title: "Opens in a new window" %> tool to find the additional code required for importing and exporting. To calculate the duty rate, enter the meursing code (without the 7 at the start) into the <%= link_to "meursing calculator", declarable.meursing_tool_link_for(@search.date.to_taric_date), rel: "external", target: "_blank", title: "Opens in a new window" %>.</p>
    <% end %>
    <h2 class="heading-medium">Binding tariff information</h2>
    <p>You can search the EU EBTI-database for existing <%= link_to "Binding Tariff Information", declarable.bti_url, rel: "external", target: "_blank", title: "Opens in a new window" %> for commodity code <strong><%= declarable.code %></strong>.</p>
  </article>

  <!-- Import tab -->
  <article class="js-tab-pane tab-pane" id="import" data-id="<%= declarable.to_param %>" data-class="<%=declarable.class.name.downcase.pluralize %>">

    <h2 class="heading-medium">Import measures and restrictions</h2>
    <%= render partial: 'declarables/consigned', locals: { declarable: declarable } %>
    <%= render partial: 'declarables/filtered', locals: { search: @search } %>
    <%= render partial: 'shared/country_picker', locals: { controller: @search, url: perform_search_path, anchor: 'import' } %>

    <% if declarable.import_measures.for_country(@search.country).any? %>
      <table class="small-table measures">
        <% if @search.filtered_by_country? %>
          <caption class="heading-small">Measures for <%= @search.geographical_area %></caption>
        <% else %>
          <caption class="heading-small">Measures for all countries</caption>
        <% end %>
        <thead>
          <tr>
            <th>Country</th>
            <th>Measure</th>
            <th>Value</th>
            <th>Conditions that apply</th>
            <th>Exclusions</th>
            <th class="legal-act" title="Opens in a new window">Council Regulation (EEC)</th>
            <th>Start date<br>(End date, if any)</th>
            <th>Footnotes</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'measures/measure', collection: declarable.import_measures.for_country(@search.country).sort_by(&:key) %>
        </tbody>
      </table>
    <% else %>
      <p>There are no measures for this commodity on this date.</p>
    <% end %>

  </article><!-- end .tab-pane -->

  <!-- Export tab -->
  <article class="js-tab-pane tab-pane" id="export" data-id="<%= declarable.to_param %>" data-class="<%=declarable.class.name.downcase.pluralize %>">

    <h2 class="heading-medium">Export measures and restrictions</h2>
    <%= render partial: 'declarables/consigned', locals: { declarable: declarable } %>
    <%= render partial: 'declarables/filtered', locals: { search: @search } %>
    <%= render partial: 'shared/country_picker', locals: { controller: @search, url: perform_search_path, anchor: 'export' } %>

    <% if declarable.export_measures.for_country(@search.country).any? %>
      <table class="small-table measures">
        <% if @search.filtered_by_country? %>
          <caption class="heading-small">Measures for <%= @search.geographical_area %></caption>
        <% else %>
          <caption class="heading-small">Measures for all countries</caption>
        <% end %>
        <thead>
          <tr>
            <th>Country</th>
            <th>Measure</th>
            <th>Value</th>
            <th>Conditions that apply</th>
            <th>Exclusions</th>
            <th class="legal-act" title="Opens in a new window">Council Regulation (EEC)</th>
            <th>Start date<br>(End date, if any)</th>
            <th>Footnotes</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'measures/measure', collection: declarable.export_measures.for_country(@search.country).sort_by(&:key) %>
        </tbody>
      </table>
    <% else %>
      <p>There are no measures for this commodity on this date.</p>
    <% end %>

  </article><!-- end .tab-pane -->

  <!-- Chapter notes tab -->
  <article class="tab-pane" id="notes" data-id="<%= declarable.to_param %>" data-class="<%=declarable.class.name.downcase.pluralize %>">
    <h2 class="heading-medium">Chapter notes</h2>
    <%= render 'shared/notes', section_note: declarable.section.section_note, chapter_note: declarable.chapter.chapter_note %>
  </article><!-- end .tab-pane -->

  <!-- Footnote popups -->
  <div id="import-measure-references">
    <%= render partial: 'measures/measure_references', collection: declarable.import_measures.for_country(@search.country), as: 'measure' %>
  </div>
  <div id="export-measure-references">
    <%= render partial: 'measures/measure_references', collection: declarable.export_measures.for_country(@search.country), as: 'measure' %>
  </div>

</div><!-- end .tab-content -->
