<ul class="nav nav-tabs">
  <li class='active'>
    <a href="#overview" data-toggle="tab" data-skip-pjax>Overview</a>
  </li>
  <li>
    <a href="#import" data-toggle="tab" data-skip-pjax>Import</a>
  </li>
  <li>
    <a href="#export" data-toggle="tab" data-skip-pjax>Export</a>
  </li>
</ul>

<div id="measures-js" class='tab-content'>
  <div class='tab-pane active' id='overview'>
    <article class="tariff overview">
      <div class="inner">
        <h1>Overview</h1>
        <h2>Import</h2>
        <p>Importing from outside the EU is subject to a third country duty of <%= measurable.third_country_duty_cache %>.</p>
        <p> Goods are also subject to VAT standard rate of <%= measurable.uk_vat_rate_cache %>.</p>
        <!-- <h2>Export</h2>
        TODO: send count of export measures in the commoidity to do the check here
 -->
        <div class="help-notice">
          <p> See import and export tables for country-specific measures and restrictions.</p>
        </div>
      </div>
    </article>
  </div>
  <div class='tab-pane' id='import'>
    <div id="import-measures" class="js" data-id="<%= measurable.to_param %>" data-class="<%=measurable.class.name.downcase.pluralize %>"></div>
  </div>
  <div class='tab-pane' id='export'>
    <div id="export-measures" clas="js" data-id="<%= measurable.to_param %>" data-class="<%=measurable.class.name.downcase.pluralize %>"></div>
  </div>
</div>
