<tr>
  <% if measure_group == "specific_country" %>
    <td>
      <% if measure.geographical_area.children_geographical_areas.any? %>
      <dl>
        <dt class="has_children">
          <%= measure.geographical_area.description %>
        </dt>
      <dd>
        <ul>
          <% measure.geographical_area.children_geographical_areas.each do |children_geographical_area| %>
            <li><%= children_geographical_area.iso_code %> <%= children_geographical_area.description %></li>
          <% end %>
        </ul>
      </dd>
        <% else %>
          <%= measure.geographical_area.description %>
        <% end %>
    </td>
  <% end %>

  <td><%= measure.measure_type_description %></td>

  <td><%= measure.duty_expression %></td>

  <td><%= measure.additional_code %></td>

  <td>
    <% if measure.measure_conditions.any? %>
      <%= link_to "View Conditions", "#", class: 'reference', title: 'Opens in a popup', 'data-popup-ref' => "conditions-#{measure.id}" %>
      <div class='hidden' data-popup='conditions-<%= measure.id %>'>
        <article>
          <table>
            <caption><%= measure.measure_type_description %> for <%= measure.geographical_area.description %>:</caption>
            <thead>
              <tr>
                <th>Condition</th>
                <th>Document code</th>
                <th>Requirement</th>
                <th>Action</th>
                <th>Duty expression</th>
              </tr>
            </thead>
            <tbody>
              <% measure.measure_conditions.each do |measure_condition| %>
                <tr>
                  <td><%= measure_condition.condition %></td>
                  <td><%= measure_condition.document_code %></td>
                  <td>
                    <% if measure_condition.has_document_based_requirement? %>
                      <%= measure_condition.requirement %>
                    <% elsif measure_condition.has_duty_expression_based_requirement? %>
                      <% if measure.is_first_measure_condition?(measure_condition) %>
                        greater than or equal to <%= measure_condition.requirement.duty_expression %>
                      <% elsif measure.is_last_measure_condition?(measure_condition) %>
                        less than <%= measure.previous_condition_for(measure_condition).requirement.duty_expression %>
                      <% else %>
                        greater than or equal to <%= measure_condition.requirement.duty_expression %>
                        and less than <%= measure.previous_condition_for(measure_condition).requirement.duty_expression %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= measure_condition.action %></td>
                  <td>
                    <%= measure_condition.duty_expression %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </article>
      </div>
    <% end %>
  </td>

  <td><%= measure.excluded_country_list %></td>

  <td><%= link_to measure.legal_act.generating_regulation_code, measure.legal_act.url, target: '_blank', rel: 'external' %></td>

  <td>
    <% measure.footnotes.each do |footnote| %>
      <%= link_to footnote.code, "#", class: 'reference', title: 'Opens in a popup', 'data-popup-ref' => "footnote-#{footnote.id}" %>&nbsp;
      <div class='popup hidden' data-popup='footnote-<%= footnote.id %>'>
        <article>
          <table>
            <caption>Footnote for commodity:</caption>
            <thead>
              <tr>
                <th>Code</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <%= render footnote %>
            </tbody>
          </table>
        </article>
      </div>
    <% end %>
  </td>
</tr>
