<div class="<%= measure_type %>">
  <h2>Measures for specific countries and country groups</h2>
  <table>
    <thead>
      <tr>
        <th>Country</th>
        <th>Measure Type</th>
        <th>Duty rates / prohibitions</th>
        <th>Additional codes</th>
        <th>Conditions</th>
        <th>Exclusions</th>
        <th>Legal Act</th>
        <th>Footnote</th>
      </tr>
    </thead>
    <tbody>
      <% measurable.send(measure_type).select{|m| m.region.blank? }.each do |measure| %>
        <tr>
          <td>
            <% if measure.region.country_group?  %>
              <a href='' ref='popover' title="<%= measure.region.description %>" data-content="<%= measure.region.country_names %>" class='no-pjax region'>
                <%= measure.region %>
              </a>
            <% else %>
              <%= measure.region %>
            <% end %>
          </td>
          <td><%= measure.measure_type %></td>
          <td><%= measure.duty_rates %></td>
          <td><%= measure.additional_codes.map(&:code).join(", ") %></td>
          <td><%= render measure.conditions %></td>
          <td><%= measure.excluded_countries.map(&:name).join(", ") %></td>
          <td><%= link_to measure.legal_act.code, measure.legal_act.url if measure.legal_act.present? %></td>
          <td><%= render measure.footnotes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
