<div class="">
  <p>Third country measures</p>
  <table>
    <thead>
      <tr>
        <th>Measure Type</th>
        <th>Duty rates / prohibitions</th>
        <th>Additional codes</th>
        <th>Conditions</th>
        <th>Exclusions</th>
        <th>Legal Act</th>
        <th>Footnote</th>
      </tr>
    </thead>
    <tbody>
      <% measures.each do |measure| %>
        <tr>
          <td><%= measure.measure_type %></td>
          <td><%= measure.duty_rates %></td>
          <td><%= measure.additional_codes.map(&:code).join(", ") %></td>
          <td><%= render measure.conditions %></td>
          <td><%= measure.excluded_countries.map(&:name).join(", ") %></td>
          <td><%= link_to measure.legal_act.code, measure.legal_act.url, target: "_blank" if measure.legal_act.present? %></td>
          <td><%= render measure.footnotes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
