<% content_for :page_title, content_for?(:title) ? yield(:title) : "Trade Tariff - GOV.UK" %>

<% content_for :head do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application.css" %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
  <%= stylesheet_link_tag 'tariff-print', media: 'print' %>
  <%= csrf_meta_tags %>

  <meta name="x-section-name" content="Business" />
  <meta name="x-section-link" content="/browse/business" />
  <meta name="x-section-format" content="trade-tariff" />

  <% if @artefact %>
    <% if @artefact.primary_root_section %>
      <meta name="govuk:section" content="<%= @artefact.primary_root_section["title"].downcase %>">
    <% end %>
    <% if @artefact.need_ids %>
      <meta name="govuk:need-ids" content="<%= @artefact.need_ids.join(',') %>">
    <% end %>
  <% end %>

  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url(format: :xml) %>" title="Trade Tariff Search" />
<% end %>

<% content_for :footer_support_links do %>
  <h2 class="visuallyhidden">Support links</h2>
  <ul>
    <li><a href="/help">Help</a></li>
    <li><a href="/help/cookies">Cookies</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/cymraeg">Rhestr o Wasanaethau Cymraeg</a></li>
    <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
    </li>
  </ul>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'application' %>
<% end %>
