<% content_for :page_title, content_for?(:title) ? yield(:title) : "Trade Tariff: look up commodity codes, duty and VAT rates - GOV.UK" %>

<% content_for :head do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application.css" %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
  <%= stylesheet_link_tag 'tariff-print', media: 'print' %>
  <%= csrf_meta_tags %>

  <meta name="x-section-name" content="Business" />
  <meta name="x-section-link" content="/browse/business" />
  <meta name="x-section-format" content="trade-tariff" />
  <meta name="format-detection" content="telephone=no">

  <% if @meta_description %>
    <meta name="description" content="<%= @meta_description %>">
  <% end %>

  <meta name="govuk:section" content="business and self-employed">

  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url(format: :xml) %>" title="Trade Tariff Search" />

<% end %>

<% content_for :header_class, 'with-proposition' %>
<% content_for :proposition_header do %>
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="<%= sections_path %>" id="proposition-name">Trade Tariff</a>
        <ul id="proposition-links">
          <li><%= link_to "Search the Tariff", sections_path, class: search_active_class %></li>
          <li><%= link_to "A-Z of Classified Goods", a_z_index_path(letter: "a"), class: a_z_active_class %></li>
        </ul>
      </nav>
    </div>
  </div>
<% end %>

<% content_for :footer_top do %>
  <nav class="footer-categories">
    <div class="footer-category">
      <h2>Contact</h2>
      <ul>
        <li><a target="_blank" href="https://www.gov.uk/government/publications/notice-600-classifying-your-imports-or-exports/notice-600-classifying-your-imports-or-exports#using-the-tariff-classification-service-email-service">Tariff Classification Service</a></li>
        <li><a target="_blank" href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/vat-enquiries">HMRC VAT, Excise and Customs Helpline:</a> <a href="tel:03002003700" class="tel">0300 200 3700</a></li>
      </ul>
    </div>

    <div class="footer-category">
      <h2>Help</h2>
      <ul>
        <!-- <li><a href="#">How to use the Tariff</a></li> -->
        <li><a target="_blank" href="https://www.gov.uk/guidance/classification-of-goods">How to classify imports and exports using the UK Trade Tariff</a></li>
        <li><a target="_blank" href="https://www.gov.uk/government/collections/classification-of-goods">Classification guides</a></li>
        <li><a target="_blank" href="https://www.gov.uk/topic/business-tax/import-export">Import and export</a></li>
      </ul>
    </div>

    <div class="footer-category">
      <h2>Related information</h2>
      <ul>
        <li><a target="_blank" href="https://www.gov.uk/government/collections/uk-trade-tariff-volume-1">UK Trade Tariff: Volume 1 &ndash; background information for importers and exporters</a></li>
        <li><a target="_blank" href="https://www.gov.uk/government/collections/uk-trade-tariff-volume-3">UK Trade Tariff: Volume 3 &ndash; procedures, codes and declaration entry details</a></li>
        <li><a target="_blank" href="http://ec.europa.eu/taxation_customs/dds2/taric/taric_consultation.jsp?Lang=en&Screen=0&Expand=true">Integrated tariff of the European Community (TARIC) database</a></li>
      </ul>
    </div>
  </nav>
  <hr>
<% end %>

<% content_for :footer_support_links do %>
  <h2 class="visuallyhidden">Support links</h2>
  <ul>
    <li><a href="<%= terms_path %>">Terms and conditions</a></li>
    <li><a href="<%= cookies_path %>">Cookies</a></li>
    <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
    </li>
  </ul>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag "application" %>
<% end %>
