<!DOCTYPE html>
<html>
  <head>
    <title>Trade Tariff | GOV.UK</title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", defer: true %>
    <%= yield :section_meta_tags %>
    <%= yield :head %>
  </head>
  <body class="citizen">
    <div id="wrapper" class="tariff">
      <section id="content" role="main" class="group">
        <%= render 'shared/header' %>
        <div data-pjax-container class="article-container group">
          <%= yield %>
        </div>
        <%= simple_form_for @search, method: :get, url: perform_search_path, html: { class: 'tariff-search' } do |f| %>
          <%= link_to "View all Sections", sections_path %>
          <%= f.input :q, required: false, label: "Search the tariff",
                      input_html: {
                        name: 'q',
                        size: 15 } %>

          <%= f.button :submit, 'Search', class: 'button right' %>
        <% end %>
      </section>
    </div>
  </body>
</html>
