<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Trade Tariff | GOV.UK" %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'tariff-print', media: 'print' %>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', defer: true %>
    <%= yield :section_meta_tags %>
    <%= yield :head %>
  </head>
  <%# The citizen class is going to be deprecated, to be replaced with mainstream. %>
  <%# Added the mainstream class in preparation for the change. %>
  <body class="citizen mainstream">
    <div id="wrapper" class="tariff service">
      <section id="content" role="main" class="group">
        <%= render 'shared/header' %>
        <div data-pjax-container class="article-container group">
          <%= yield %>
        </div>
        <div id="search-controls">
            <%= simple_form_for @tariff_date, method: :get, url: '', html: { class: 'date-filter-search related-module', id: 'date-filter' } do |f| %>
              <h2>This tariff applies</h2>
              <%= f.input :date, label: 'Date of Results', input_html: { class: 'date',
                                                                         size: 15,
                                                                         name: 'date',
                                                                         value: f.object.date.to_formatted_s(:default) },
                                                           label_html: { class: 'visuallyhidden' } %>

              <%= f.button :submit, 'Change', class: 'btn button right' %>
            <% end %>

            <%= simple_form_for @search, method: :get, url: perform_search_path, html: { class: 'tariff-search related-module' } do |f| %>
              <a href="/sections">View all sections</a>
              <%= f.input :q, required: false, label: "Search the tariff",
                        input_html: {
                          name: 'q',
                          size: 21,
                          placeholder: "name or commodity code" } %>

              <%= f.button :submit, 'Search', class: 'button right' %>
            <% end %>

            <!--
            <div class="related-module">
              TODO: Related links if any would go in here
            </div>
             -->

            <div class="related-module">
              <address class="vcard">
                <a data-skip-pjax class="fn org url" href="http://customs.hmrc.gov.uk/channelsPortalWebApp/channelsPortalWebApp.portal?_nfpb=true&amp;_pageLabel=pageVAT_ShowContent&amp;id=HMCE_CL_001640&amp;propertyType=document" target="_blank" rel="external">
                  HMRC Tariff Classification Service
                </a>
                <a href="tel:+441702366077" class="tel">01702 366 077</a>
              </address>
              <address class="vcard">
                <a data-skip-pjax class="fn org url" href="http://search2.hmrc.gov.uk/kb5/hmrc/contactus/view.page?record=dMVkEC6liWE" target="_blank" rel="external">
                  HMRC National Advice Service
                </a>
                <a href="tel:+448450109000" class="tel">0845 010 9000</a>
              </address>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
