<!DOCTYPE html>
<html>
  <head>
    <title>Trade Tariff | GOV.UK</title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", defer: true %>
    <%= yield :section_meta_tags %>
    <%= yield :head %>
  </head>
  <body class="citizen">
    <div id="wrapper" class="tariff" data-pjax-container>
      <section id="content" role="main" class="group ancillary section-page">
        <%= render 'shared/header' %>

        <article>
          <%= yield %>
        </article>
      </section>
    </div>
  </body>
</html>
