<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'tariff' %>

<div id='wrapper'>
  <div class='inner group'>
    <ul>
      <li>
        <%= link_to "Search", root_path %>
      </li>
      <li>
        <%= link_to "Explore", sections_path %>
      </li>
    </ul>
  </div>

  <div class='inner group'>
    <%= yield %>
  </div>
</div>
