<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Trade Tariff | GOV.UK" %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", defer: true %>
    <link rel="stylesheet" type="text/css" href="/assets/tariff-print.css.scss" media="print" />
    <%= yield :section_meta_tags %>
    <%= yield :head %>
  </head>
  <body class="citizen">
    <div id="wrapper" class="tariff">
      <section id="content" role="main" class="group">
        <%= render 'shared/header' %>
        <div data-pjax-container class="article-container group">
          <%= yield %>
        </div>
        <div id="search-controls">
          <div class="related-module">
            <%= link_to "View all Sections", sections_path %>
            <a href="#">A-Z index</a>
            <a data-skip-pjax href="#">How to use the trade tariff</a>
          </div>
            <%= simple_form_for @search, method: :get, url: perform_search_path, html: { class: 'tariff-search related-module' } do |f| %>
              <%= f.input :q, required: false, label: "Search the tariff",
                        input_html: {
                          name: 'q',
                          size: 15 } %>

              <%= f.button :submit, 'Search', class: 'button right' %>
            <% end %>

           <form accept-charset="UTF-8" action="/search" class="simple_form date-filter related-module" id="date-filter" method="get" novalidate="novalidate">
            <h2>This tariff applies today</h2>
            <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value=""></div>
            <div class="control-group string optional">
              <label class="string optional control-label visuallyhidden" for="commodity_search_r">Date of results</label>
              <input class="string optional date" id="commodity_search_r" name="r" size="15" type="text" value="20/07/2012" />
            </div>
            <input class="btn button right" name="commit" type="submit" value="Change">
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
