<% content_for :content do %>
  <div id="wrapper" class="tariff service">
    <main id="content" role="main">
      <%= render 'shared/header' %>
      <div class="article-container group">
        <%= yield %>
      </div>
      <section class="related-module">
        <% if @tariff_last_updated %>
        <div id="last-updated-at">
          Last updated: <%= @tariff_last_updated.strftime("%e %B %Y") %>&emsp;<a href="https://www.gov.uk/government/collections/tariff-stop-press-notices">View latest amendments</a>
        </div>
        <% end %>
      </section>
    </main>
  </div>
  <%= render :partial => 'layouts/report_a_problem' %>
<% end %>

<%= render :partial => 'layouts/base' %>
<%= render :file => 'layouts/govuk_template' %>
