<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Trade Tariff - GOV.UK" %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'tariff-print', media: 'print' %>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', defer: true %>
    <%= yield :section_meta_tags %>
    <meta name="x-section-name" content="Business" />
    <meta name="x-section-link" content="/browse/business" />
    <meta name="x-section-format" content="trade-tariff" />

    <%= yield :head %>
  </head>
  <body class="mainstream">
    <div id="wrapper" class="tariff service">
      <section id="content" role="main" class="group">
        <%= render 'shared/header' %>

        <div id="pjax-container" class="article-container group">
          <%= yield %>
        </div>
            <%= form_for @tariff_date, method: :get, url: change_date_path, html: { class: 'date-filter-search related-module', id: 'date-filter' } do |f| %>
              <p>Set the reference date to
              <%= f.label :day, 'Day', { class: 'visuallyhidden' }  %>
              <%= select_day(f.object.date, {}, { id: 'tariff_date_day' }) %>
              <%= f.label :month, 'Month', { class: 'visuallyhidden' }  %>
              <%= select_month(f.object.date, {}, { id: 'tariff_date_month' }) %>
              <%= f.label :year, 'Year', { class: 'visuallyhidden' }  %>
              <%= select_year(f.object.date, {end_year: (Date.today - 15.years).year, start_year: (Date.today + 1.year).year }, { id: 'tariff_date_year' }) %>
              <%= f.button 'Set date', name: nil,  class: 'btn button right' %>
              </p>
            <% end %>
            <div class="related-module">
              <address class="vcard">
                <a class="fn org url" href="http://search2.hmrc.gov.uk/kb5/hmrc/contactus/view.page?record=dMVkEC6liWE" target="_blank" rel="external">
                  HMRC VAT, Excise and Customs Helpline
                </a>
                <a href="tel:+448450109000" class="tel">0845 010 9000</a>
              </address>
              <%= yield(:classnumber) %>
          </div>
      </section>
    </div>
  </body>
</html>
