<% content_for :content do %>
  <div id="global-breadcrumb" class="header-context">
    <%= breadcrumbs %>
  </div>
  <div id="wrapper" class="page-layout">
    <main id="content" role="main">
      <%= yield %>
    </main>
  </div>
  <%= render :partial => 'layouts/report_a_problem' %>
<% end %>

<%= render :partial => 'layouts/base' %>
<%= render :file => 'layouts/govuk_template' %>
