<% content_for :content do %>
  <main id="content" role="main">
    <div class="breadcrumbs">
      <%= breadcrumbs %>
    </div>

    <%= yield %>
  </main>


  <%= render :partial => 'layouts/report_a_problem' %>
<% end %>

<%= render :partial => 'layouts/base' %>
<%= render :file => 'layouts/govuk_template' %>
